[2016-12-10 22:23] SenerDemiral opened #1 "What I want to see in introduction. A newbie observation."
_every LOB developer knows oldSQL, quick remainder what looks like._
_Insert, Select, Update and Delete samples should be sampled clearly._

# Object identity and object references

Starcounter is a database that offers:
_These very important concepts should not be lost in one long sentence._
- Relational access
- Graph access
- Object oriented access
- Document access

All rolled into one.
_Follo

[2016-12-11 07:55] Mackiovello commented on #1
Thank you for your input! This repository is currently for trying out the feasibility of GitBook, though we'll keep this in mind when we actually start migrating to it.

[2016-12-31 18:48] #1 closed

[2017-01-23 23:29] ubbeK opened #6 "Link responds with PageNotFound"
The link `[Guides: SQL](/guides/sql.html)` in [Develop -> querying-using-sql.md](https://github.com/Starcounter/Docs/blob/Develop/guides/database/querying-using-sql.md) responds with `Page Not Found`.

[2017-01-23 23:42] ubbeK opened #7 "Link to Dr Codd's theories"
I don't personally know Dr Codd's theories which is mentioned [here](https://github.com/Starcounter/Docs/blob/Develop/guides/database/relations.md). Why note link it to the [Wikipedia-page](https://en.wikipedia.org/wiki/Codd's_12_rules)?

[2017-01-24 06:33] Mackiovello commented on #7
Fixed in 4a79a570a89c0094f83e641ac32267bb1981e911

[2017-01-24 06:33] #7 closed

[2017-01-24 06:33] Mackiovello commented on #6
Fixed in 4a79a570a89c0094f83e641ac32267bb1981e911

[2017-01-24 06:33] #6 closed

[2017-01-24 08:35] k-rus commented on #7
Don't we have a blogpost about it?

[2017-01-24 17:07] ubbeK commented on #7
@k-rus I cannot find such blogpost

[2017-01-25 06:30] k-rus commented on #7
I also don't find. I think I mixed it with blog posts about other technologies often mentioned in our materials.

[2017-01-25 07:51] Thanh-Truong commented on #7
When I read  the line

Personally, I do not think "theories of Dr.Codd" is a brilliant phrase to refer to the well known relational database mode proposed by F. Codd in 1970. To me, "Theories of Dr. Codd" does not ring any bell. Maybe it is only me.

[2017-01-25 08:54] Mackiovello commented on #7
Agreed. I would consider removing the sentence. Actually, the page should probably be integrated into another page since it doesn't provide any value by itself. Object references are covered [here](https://docs.starcounter.io/guides/database/object-identity-and-object-references.html) and path expressions are covered [here](https://docs.starcounter.io/guides/SQL/path-expressions.html)

[2017-01-26 08:02] k-rus commented on #7
We can say that we follow principles formulated by Dr. Codd in 70s. I guess mentioning this allows to distinguish us from NoSQL, where all the principles were disregarded at the beginning.

[2017-02-13 15:58] LordTep opened #10 "Typo"
At the top it says: "A Block represents an logical area of your app's UI. For example:". I believe it should be '**a** logical area' not '**an** logical area'

[2017-02-13 16:02] LordTep commented on #10
https://docs.starcounter.io/guides/mapping-and-blending/avoiding-css-conflicts/

[2017-02-14 09:12] ErlendLandro opened #13 "Test"
### Type of issue:

- [x] Report typo
- [ ] Report glitch/bug
- [ ] Report unclear text
- [ ] Ask a question
- [ ] Request additional content
- [ ] Other

### Link to relevant page:

[2017-02-14 09:12] #13 closed, assigned to nobody

[2017-02-14 09:19] ErlendLandro commented on #10
Fixed in bf77c28

[2017-02-14 09:19] #10 closed, assigned to Mackiovello

[2017-02-21 10:26] linkdata opened #16 "Document threading in Starcounter.Nova"
Moved from https://github.com/Starcounter/Starcounter.Core/issues/142

@Mackiovello please gather info about threading and thread safety in Starcounter.Core and update this [WiKi page](https://github.com/Starcounter/Starcounter.Core/wiki/Database-thread-safety) with code snippets (how to do, how not to do, what works, what does not work) and all the additional info you find.

The page should/will

[2017-02-22 07:52] ErlendLandro opened #17 "Clicking on "Using Web Components" fully expands TOC"
### Type of issue:
Bug

### Link to relevant page:
https://docs.starcounter.io/guides/puppet-web-apps/using-web-components/

### Description

When clicking on the "Using Web Components" link in the TOC, it gets fully expanded like so:
![capture](https://cloud.githubusercontent.com/assets/19392292/23201952/2a9a5c80-f8dc-11e6-9248-0c79c7bdd403.PNG)

This is probably originating from the [collapsible

[2017-02-24 10:31] ErlendLandro opened #18 "Allow user to compare between different branches"
Now it's not strictly obvious what the differences are between the different branches. Create a way for users to compare between different branches in a clear way.

[2017-02-27 09:51] ErlendLandro opened #19 "RC and Develop links are down"
https://docs.starcounter.io/v/Develop/ and https://docs.starcounter.io/v/RC/ are down for some reason. The lower branches work as intended.

[2017-02-28 05:46] ErlendLandro commented on #19
An issue has been created for the GitBook theme here: https://github.com/GitbookIO/feedback/issues/388

[2017-02-28 10:03] ErlendLandro opened #20 "Document difference between Db.SQL and Db.SlowSQL"
From https://github.com/Starcounter/Starcounter/issues/4105

[2017-02-28 10:14] k-rus commented on #20
It is important to give message that usage of `SlowSQL` should be avoided in application code.

[2017-02-28 10:37] mmnosek commented on #20
That is actually my question, I feel lost reading about that topic in our documentation.
Here we say that we don't support DELETE:
* https://docs.starcounter.io/guides/SQL/
* https://docs.starcounter.io/guides/SQL/limitations/

But here:
* https://docs.starcounter.io/tutorial/cancel-and-delete/
* https://docs.starcounter.io/guides/puppet-web-apps/multiple-pages/
* https://docs.starcounter.io/guide

[2017-03-02 06:23] ErlendLandro commented on #19
They are up now. I don't know what happened. It seems like GitBook fixed something on their side of things

[2017-03-02 06:23] #19 closed, assigned to Mackiovello

[2017-03-02 13:00] ErlendLandro commented on #20
SlowSQL is no longer needed for `DELETE` from what I've tried and from this answer: https://github.com/Starcounter/Starcounter/issues/4105#issuecomment-283644616

It should be updated in the Docs. I'll take care of it.

[2017-03-02 16:34] warpech opened #22 "HTML view guidelines don't have a compelling example"
### Type of issue:

Spotted by @jwillmer

The code sample in the HTML view guidelines doesn't really show the benefits of separating content from presentation.

This code sample:

[code]

Could be replaced with more realistic example based on the People app:

[code]

### Link to relevant page:

https://github.com/Starcounter/Docs/tree/Develop/guides/puppet-web-apps/html-view-guidelines

[2017-03-02 16:39] warpech opened #23 ""Using Web Components" link to the catalog"
### Type of issue:

Proposed by @jwillmer

"Using Web Components" page could include a link to the catalog of open source Web Components: https://www.webcomponents.org/

Or maybe even a list of links to the most popular Web Components collections from https://www.webcomponents.org/collections

### Link to relevant page:

https://github.com/Starcounter/Docs/tree/Develop/guides/puppet-web-apps/using

[2017-03-03 07:48] ErlendLandro commented on #22
Fixed in 9541dcddfa729f92c983ec46205fd2957d4a24cd

[2017-03-03 08:01] ErlendLandro commented on #23
Fixed in f4a1d6c1fd30012bc613b3c104921a616259e035

[2017-03-03 08:01] #23 closed, assigned to Mackiovello

[2017-03-03 08:49] jwillmer commented on #22
I have a few more questions that could be answered in that page:
- There do I add/reference styles. Are styles applyed to the content of the slot elements as well if I put them into the `declarative-shadow-dom`?
- Would the redirect element be part of the `declarative-shadow-dom`?

Let's try if we can summon @tomalec here to answer that comprehensively.

No, becase the redirect element is content/

[2017-03-03 13:33] tomalec commented on #22
Via `declarative-shadow-dom` you are able to add elements to Shadow DOM of container of the elements returned by your partial view.

Therefore, the answer to those questions comes almost directly from Shadow DOM spec. As there is no Starcounter magic for layouts.

I tried to post comprehensive answer at https://starcounter.io/layout-compositions-html-partials/ at "Where to put my styles?". In shor

[2017-03-03 13:48] jwillmer commented on #22
Yes, I understand now.

- I would propose to add that all elements that are using variables like `model.*` need to be in the `dom-bind` section.
- I would add styles into the example as well so that a dev can see there to put which styles

[2017-03-03 13:52] warpech commented on #22
@Mackiovello could you enhance the page based on the above feedback?

Thank you @jwillmer so much for sharing your thoughts on this.

[2017-03-03 16:11] ErlendLandro commented on #22
This one is addressed in b8d9f7d4650a70a15208f0ef359d317b14b1940e

The example is now to the one from above, which includes styles. Does that make it clearer? @jwillmer

[2017-03-03 17:08] jwillmer commented on #22
@Mackiovello Not really because it does not answer the question if I need to add styles into `dom-bind` if I like to style the elements.

Proposal:

[code]

[2017-03-03 17:15] tomalec commented on #22
I would say adding styles to `dom-bind` is really bad idea. It will cause FOUC, performance hits, etc. plus will  stamp this node n times to the document.

Plus, there is no arbitrary judgement, which styles should go to Shadow DOM which should go to light.

Also, I'm sorry to say so, but I think we should not go too deep on explaining how to use Polymer, as it is completely separated project, and

[2017-03-03 22:40] jwillmer commented on #22
How else would you style slot elements?

[2017-03-06 09:49] tomalec commented on #22
For example:
[code]

[2017-03-06 09:50] tomalec commented on #22
Above applies to "How else would you style **slotted** elements?"
"How to style `<slot>` elements?" is a different story, but I believe that above is the one you meant.

[2017-03-06 09:59] jwillmer commented on #22
Yes, thank you. So in conclusion:

- Use styles and elements you like to use in `dom-bind` on top of the doc
- Add styles/elements you like to use in `declarative-shadow-dom` in `declarative-shadow-dom`

[2017-03-06 10:35] tomalec commented on #22
To more more framework agnostic/not related to Polymer, I'd say:

- Add dependencies like styles and HTML Imports which you will use in your (partial) view's Light DOM at the top of the doc
- Add styles/elements you like to use in `declarative-shadow-dom` in `declarative-shadow-dom`

----
After all your comments, I see that in the new guidelines we didn't emphasize enough what was written in the l

[2017-03-06 23:36] warpech commented on #22
WDYT about that:

1. "Partials" page:
   - delete the heading "Advanced Partials usage" and the following paragraph
   - move everything from "Partials and Mixed Apps" and below from the "Partials" page to a new page in RebelsLounge GitBook (under 2.2. Client side)
   - rename the "Partials" page to "HTML Views"
   - under the line `<link rel="stylesheet" href="/myapp/style.css" />` add some inlin

[2017-03-07 08:35] ErlendLandro commented on #22
I think we should add more links than we currently have. I'm not a huge fan of having the same content in multiple pages because it can easily cause inconsistencies across the documentation when changes are made.

I also agree with your suggestions @warpech. I would just suggest that we use "double curly braces" as our term for `{{}}` instead of "mustaches". It is what the Polymer docs use.

In ad

[2017-03-07 12:27] tomalec commented on #22
Should we then move all to the docs?

:+1:

:+1:
Considering all ideas from  @warpech's

delete this page fully

rename to "HTML View Blending Guidelines"

Totally agree

[2017-03-07 12:35] ErlendLandro commented on #22
Do you mean moving the blog posts to the docs? I don't think that is needed.

[2017-03-10 13:04] warpech commented on #22
I agree. @Mackiovello could you propose a PR based on the suggestions provided above?

[2017-03-10 13:21] ErlendLandro commented on #22
Will do.

[2017-03-11 22:04] ErlendLandro opened #25 "Rename "Puppet Web Apps""
The section describing how to build web apps using Puppet is now called [puppet web apps](https://docs.starcounter.io/guides/puppet-web-apps/). With the renaming of Puppet to Palindrome, all references to Puppet should be updated. My thought is that "Palindrome web apps" wouldn't be that descriptive of a name.

My suggestion is to use a more generic name like "Thin Client Web Apps".

If there's no

[2017-03-11 22:11] mmnosek commented on #25
I like this sugestion. Puppet/palindrom in the docs menu is a bit confusing for most of the people. We can explain what we use inside a chapter introduction.

Another names that came to my mind is "Web Apps using Starcounter" or just simple "Building web apps" Then we are not confusing about what thin client actually is.

[2017-03-12 07:28] ErlendLandro commented on #25
That's a good point. How about doing just "Web Apps" and integrating the "RESTful Web Apps" section?

[2017-03-12 22:04] warpech commented on #25
I like the suggestion to rename "Puppet Web Apps" to just "Web Apps".

Then the content of "RESTful Web Apps" IMO can be moved to "Typed JSON".

[2017-03-13 08:46] ErlendLandro commented on #25
A PR is created https://github.com/Starcounter/Docs/pull/26 that addresses what's said above

I'm thinking that Puppet should be renamed to Palindrom in the documentation too. What I'm not sure about are elements such as `puppet-client`. Are those called `palindrome-client` now? In that case, I could just do a search-and-replace.

[2017-03-13 10:17] warpech commented on #25
Looks good!

Good point, but too early for that. This rename has already happened in the source repo (https://github.com/Palindrom/Palindrom) but not in Starcounter (https://github.com/Starcounter/Starcounter/tree/develop/src/BuildSystem/ClientFiles/StaticFiles/sys) so this is too early to merge a PR to the Docs that changes PuppetJs to Palindrom.

For sure the rename to Palindrom will happen in S

[2017-03-13 11:16] ErlendLandro commented on #25
The rename is now done with #26

We'll take the renaming from Puppet to Palindrom later

[2017-03-13 11:16] #25 closed, assigned to nobody

[2017-03-13 12:00] warpech opened #28 "HTML View Blending Guidelines don't show how to do it DRY"
### Type of issue:

HTML View Blending Guidelines don't show how you can import blending CSS to multiple `declarative-shadow-dom` declarations in order to avoid writing the same Shadow DOM CSS on all pages.

It should be done using:

[code]

inside your `declarative-shadow-dom` definition.

@Mackiovello do you think the code sample on this page could be extended to cover and explain that?

### Lin

[2017-03-13 14:29] ErlendLandro opened #29 "Working with Starcounter ToC isn't displayed"
### Type of issue:

Bug with the ToC on the bottom of the "Working with Starcounter" page.

It seems to be a problem with the `summary` property used.

![capture](https://cloud.githubusercontent.com/assets/19392292/23858806/f91c2654-0801-11e7-931f-8c839f03e0df.PNG)

### Link to relevant page:

https://docs.starcounter.io/guides/working-with-starcounter/

[2017-03-13 15:59] k-rus opened #31 "Search bar is not shown in visible in Safari"
On some page of the doc when I press search icon the search bar does not appear in the visible area. See the screen shot after I pressed the button:

![screen shot 2017-03-13 at 16 55 55](https://cloud.githubusercontent.com/assets/1726044/23862766/28d0c09c-080e-11e7-9476-2eba4de79561.png)

As you can see it is shown on the right under the icon and almost outside. I took me awhile to understand whe

[2017-03-14 07:13] ErlendLandro opened #32 "Create auto-generated documentation"
There's plenty of functionality in Starcounter that isn't properly documented. This creates issues like https://github.com/Starcounter/Starcounter/issues/4139 where Starcounter has a solution built in but it's not at all apparent to the developer. Having auto-generated documentation where the developer can look for the available functionality could be immensely beneficial.

From what I understand,

[2017-03-14 08:32] per-samuelsson commented on #32
@Mackiovello

I'm not sure how you picture this to be achieved. Regarding

we have in fact generated proper *reference documentation* from public APIs, and we still have a build system policy enforcement to add API documentation to each public API, but with some relaxations (explicit excludes).

WTBS:

1. It relies on that every developer actually **do produce** good and helpful documentation when

[2017-03-14 10:01] ErlendLandro commented on #32
@per-samuelsson thank you for the answer!

I'm not quite sure how this practically would work, so I appreciate the input.

This is what I meant. All the public API's should be documented as a reference for developers. It's a waste if API's are built and then not used.

How many public API's do we have? Do we have some kind of summary of them?

If we could create a nice system where the reference d

[2017-03-14 10:22] warpech opened #33 "Further improvements to the BEM page"
### Type of issue:

Almost all of the developers who apply CSS BEM to HTML views, make a mistake (?) of ignoring the consept of Blocks and putting Elements directly at the root level of the HTML view.

So there are two possibilities here:

1. BEM does not apply well to HTML views and we should not use it
2. or - we should explain it better.

Assuming (2) is correct, I propose to add the following

[2017-03-14 10:31] ErlendLandro commented on #33
My confusion with this is nested views. Should every view be considered on its own when styling or should you take into account that it will be nested into some other view? If it's nested in some other view, the root level could be considered the root of the whole view and not the partial view.

It's still somewhat arbitrary and takes some time to get accustomed to. Other than that, I think it's g

[2017-03-14 10:48] per-samuelsson commented on #32
Totally agree.

Not something instantly accessible. But should be possible to get some idea of by examining the XML-files generated when building projects that has such setting, including our primary surface assemblies (e.g. Starcounter.dll).

That's how those tools work. Basically, like this:

1. When you build a project that has `<DocumentationFile>` set (like Starcounter.csproj), API comments o

[2017-03-14 11:33] warpech commented on #33
This, because you should define your partial HTML views to be nestable in many context, not only in one assumed context.

Actually I wrote that on the BEM page:

Please propose corrections if you think it is not clear enough.

[2017-03-14 11:55] warpech opened #34 "Update Docs to use the "Trigger$" pattern in JSON"
### Type of issue:

Update Docs to use the "XxxxTrigger$" pattern in JSON in all code samples that show binding to buttons. Discussion here: https://github.com/Starcounter/Guidelines/issues/12

### Link to relevant page:

Multiple pages that have things like `Save$`, `Cancel$`.

[2017-03-14 15:25] ErlendLandro commented on #33
I gave it a try in https://github.com/Starcounter/Docs/pull/35. Please take a look and see if you think it clarifies things. I think most of it is good. It just needed a visual example and some formatting changes.

[2017-03-14 16:00] ErlendLandro commented on #17
Issue created for GitBook: https://github.com/GitbookIO/feedback/issues/423

[2017-03-15 09:17] ErlendLandro commented on #34
Fixed in https://github.com/Starcounter/Docs/pull/36/commits/6501c7eb1f97756709f480a96d6a87d2ad1491e8

[2017-03-15 10:45] ErlendLandro opened #37 "Improve Ontology mapping documentation"
From @jwillmer in https://github.com/Starcounter/Starcounter/issues/4148

I am reading about ontology mapping in the docs and I get the concept (or I knew it) but I am missing an example. The code pieces are not enough.

For instance I know that in our projects we are using something like this:

    UriMapping.OntologyMap("/App/partials/appicon/content/@w", typeof(EditAnnouncement).FullName);

[2017-03-15 10:46] jwillmer commented on #37
Oh, sorry for posting in the wrong repo. Don't forget to move my edit:

Side note: In the sharing screen section is a link broken. How about a process that checks for broken links?

[2017-03-15 11:36] ErlendLandro commented on #37
Right now I'm checking them using a tool every time I suspect something has broken. The broken link you refer to was introduced a couple of days ago. The plan is to create a tool to check broken links every time the documentation is built.

[2017-03-15 12:08] ErlendLandro opened #38 "Rewrite use of "partial" in tutorial"
### Type of issue:

The tutorial does not use the term "partial" as it is explained on the [html views page](https://docs.starcounter.io/guides/web-apps/html-views/).

### Link to relevant page:

https://docs.starcounter.io/tutorial/expense-tracker/

[2017-03-15 12:37] ErlendLandro commented on #20
Fixed with https://github.com/Starcounter/Docs/pull/27

[2017-03-15 12:37] #20 closed, assigned to Mackiovello

[2017-03-15 12:38] ErlendLandro commented on #22
Closing since #24 was merged

[2017-03-15 12:38] #22 closed, assigned to Mackiovello

[2017-03-15 14:25] ErlendLandro commented on #37
This is probably not going to happen since OntologyMapping is being replaced by a simpler blending API https://github.com/Starcounter/RebelsLounge/issues/45. When that is done, documentation will be provided on how to move from OntologyMapping to the new API

[2017-03-15 14:30] warpech commented on #34
In few places it might have been missed:

- https://github.com/Starcounter/Docs/blob/Develop/guides/transactions/long-running-transactions/README.md#assigning-json-to-a-transaction

- https://github.com/Starcounter/Docs/blob/Develop/guides/working-with-starcounter/testing-http-requests/README.md#curl

Pls search the code with case sensitivity for the keywords such as: Save, Cancel

[2017-03-15 14:39] ErlendLandro commented on #28
Fixed in 	bcca10c

[2017-03-15 14:39] #28 closed, assigned to Mackiovello

[2017-03-15 14:40] ErlendLandro commented on #34
Dang, my bad. Will take care of it right away

[2017-03-15 14:48] ErlendLandro commented on #34
Should have just searched for `$`. Made it much easier to find. Fixed in 	ae4b626

[2017-03-15 14:48] #34 closed, assigned to Mackiovello

[2017-03-15 15:00] jwillmer commented on #37
Well I still think the 1h-2h would be well spent since the new pattern is not available yet. We also have a partner company that is developing an app right now and I belief that this doc part will be insufficient for them.

[2017-03-15 15:45] ErlendLandro commented on #38
Fixed in 	fd9dda0

[2017-03-15 15:45] #38 closed, assigned to Mackiovello

[2017-03-15 16:09] stefanedqvist commented on #37
@jwillmer would a solution be to connect @mmnosek with the partners? He can explain and ensure they are using the right technology for the right challenge.

[2017-03-15 16:12] jwillmer commented on #37
O.K.

[2017-03-15 18:30] per-samuelsson opened #39 "Extend Visual Studio text with more info on projects (and their templates)"
This page: https://github.com/Starcounter/Docs/tree/Develop/guides/working-with-starcounter/visual-studio-extension

I want to include a section that descibe

1. What project templates actually is good for (they enable debugging, and they add proper references and imports)
2. What differ project settings between versions up until and including 2.3, and 2.4 and above.
3. How to create a project usi

[2017-03-15 19:00] ErlendLandro commented on #39
I'm looking forward to reading what you'll write! Feel free to make whatever changes you like. Keep in mind what branches they apply to before you push.

I think "Working in Visual Studio" is a good headline. When changing the name of the page, you also have to change the name in the ToC. That can be done in the SUMMARY.md file.

[2017-03-15 22:03] mmnosek commented on #37
@jwillmer let's have a talk about what is necessary to provide on Skype.

@Mackiovello should this issue be still open?

[2017-03-16 07:31] ErlendLandro commented on #37
I don't think so. Closing

[2017-03-16 07:31] #37 closed, assigned to Mackiovello

[2017-03-16 08:22] per-samuelsson commented on #39
Thanks. I'll go with that.

[2017-03-16 09:28] per-samuelsson opened #41 "Suggestions for contribution page (low prio)"
This section:

might be the best one I've read on how to work. I suggest we use it as a template for all our repositories.

@Mackiovello, what about start tweaking it to fit `Starcounter/Starcounter` and include it there? Main branches there are

* `v2.2`
* `v2.3` (RC)
* `develop`

Some minor things I'd suggest:

First, for the section starting with *To merge the changes, merge to the branch that

[2017-03-16 13:31] per-samuelsson commented on #39
PR in #42.

[2017-03-16 13:34] ErlendLandro commented on #32
@alemoi does the build server generate docs?

So far, DocFX seems promising. It is easy to use, at least locally, and it produces quite a nice result without any tweaking whatsoever:
![capture](https://cloud.githubusercontent.com/assets/19392292/23998177/90371a18-0a54-11e7-8546-d83edec9dd93.PNG)

From running this on level1 it should be possible to get an estimate of all the public API's. I haven'

[2017-03-16 13:54] ghost commented on #32
No, its abandoned, we need a new system in place.

[2017-03-16 14:00] ErlendLandro commented on #32
Do you have preferred way to do it? I've heard SandCastle is a pain to use.

[2017-03-16 14:02] dan31 commented on #32
@Mackiovello so good your eyes has found this hole :)
Previously Starcounter used some proprietary old-school tool (I think it was DocumentX). We had a license for it (wow, a license for a doc-gen tool). The license was over and we never broungt the doc gen back. The mainline proposal was to use doxygen, here is the corresponding task: https://github.com/Starcounter/Starcounter/issues/3389 (@alemo

[2017-03-16 14:17] ErlendLandro commented on #32
Previously Starcounter used some proprietary tool. The license was over and we never broungt the doc gen back. The mainline proposal was to use doxygen, here is the corresponding task: Starcounter/Starcounter#3389 (@alemoi will never have time to do it ofc). But maybe @Mackiovello your tool is better suited for our purpose? (Note that there is going to be more languages to generate docs for — Node

[2017-03-16 14:35] ghost commented on #32
Yes, sure. In `https://github.com/Starcounter/Starcounter/tree/develop/src/BuildSystem`
Documentation and Doxygen folder.

[2017-03-16 15:09] ErlendLandro commented on #32
Okay, this doesn't seem impossible to do. Doxygen generated the documentation without any trouble.
![capture](https://cloud.githubusercontent.com/assets/19392292/24002529/470754d6-0a61-11e7-9e4a-a7365bbd8372.PNG)

Throwing it into the GitBook doesn't seem feasible since it's a ton of stuff. There are plenty of classes like `ConsoleApplication1.Foo` that are not very useful as well.

I guess what m

[2017-03-16 17:08] per-samuelsson commented on #32
Really like this.

Me too!

[2017-03-17 07:18] per-samuelsson opened #43 "Adapt Working in Visual Studio to 2.4/Develop"
Continuing #39.

[2017-03-17 07:18] per-samuelsson commented on #39
Done. Now adapting develop / 2.4 page, #43.

[2017-03-17 07:18] #39 closed, assigned to per-samuelsson

[2017-03-17 07:36] per-samuelsson commented on #43
Done. Merged and pushed in https://github.com/Starcounter/Docs/commit/8e093de61b34a9ae0565144d327e1372d52bdb74.

[2017-03-17 07:36] #43 closed, assigned to nobody

[2017-03-17 09:55] ErlendLandro commented on #41
That's brilliant! When doing that you don't have to reference the issue in every commit either (like I just did 😄).

Regarding `Starcounter/starcounter`, it seems like it doesn't have a `CONTRIBUTING.md` at all. I guess that one should include some more stuff, like "don't you dare merging before you've tried building it yourself"

[2017-03-17 10:14] per-samuelsson commented on #41
Exactly.

Because no one ever bothered to add one. If you would find time, and use your already excellent one from here, that would be super. Since we don't have *any* today, anything you add to it will be better than that. 😄

[2017-03-17 16:50] k-rus commented on #32
Most of the tests are in folder `Samples`.

[2017-03-18 08:53] ErlendLandro opened #44 "Aggregate list of the most essential pages in the docs"
For the process of onboarding new developers, a list of the essential reading in the docs should be aggregated. This page should be linked from the page ["The Next Step"](https://docs.starcounter.io/tutorial/the-next-step/) after the tutorial and from the introduction.

These pages should be ones like [Creating Database Classes](https://docs.starcounter.io/guides/database/creating-database-classes

[2017-03-18 08:59] ErlendLandro opened #45 "Expand tutorial with more links for in-depth reading"
All the content in the tutorial should be possible to fully understand by following links to more in-depth text on the topic. There might be cases where a topic that's presented in the tutorial is not fully explained in the docs. In that case, an issue should be created to document that concept.

This is a part of the enhancement of the on-boarding process.

[2017-03-18 09:08] ErlendLandro opened #46 "Allow readers of the tutorial to test their comprehension"
Use a plugin like [gitbook-quiz](https://github.com/chudaol/gitbook-plugin-quiz) to have an optional quiz on the bottom of each tutorial page to check the comprehension of the reader.

Part of the on-boarding enhancement.

[2017-03-21 10:38] ErlendLandro commented on #32
The reference is now available at: http://reference.starcounter.io/, the interesting part is here: http://reference.starcounter.io/classes.html

It's not beautiful, but it works. I'm concerned that it's interfering with this https://github.com/Starcounter/Announcements/issues/23#issuecomment-288030412

I still have to find out how to weed out a lot of the stuff.

[2017-03-21 12:00] per-samuelsson commented on #32
@dan31?

[2017-03-21 12:05] per-samuelsson commented on #32
Suggested starting point: find how to have the tool "only" generate docs from the assemblies we reference from our project templates. I think that cover very much of what we need.

[This section](https://github.com/Starcounter/Starcounter.VisualStudio/wiki/Version-compatibility#how-do-i-migrate-a-project-from-21-3--24-or-vice-versa) link to listings of relevant assemblies for 2.3 and 2.4 respectiv

[2017-03-21 12:57] ErlendLandro commented on #32
Generated new docs for the directories `Starcounter`, `Starcounter.Internal`, `Starcounter.Logging`, `Starcounter.XSON`. It's much better. This might be a dumb question: do these four directories correspond to the assemblies with the same names?

It's not set up to work for multiple versions of Starcounter yet, so currently I'm just doing it for 2.3.

[2017-03-21 13:15] per-samuelsson commented on #32
Yup. It's not a stupid question, b/c even if that is the recommended structuring of projects, not everyone follow it strictly. But for those 4 assemblies, yes.

[2017-03-22 10:54] warpech commented on #44
Related: https://github.com/Starcounter/TechComm/issues/298

[2017-03-22 10:56] joozek78 opened #47 "Document the fact that app name is case-sensitive, sometimes"
The way how case sensitivity in app name works is strange. The app name is (by default) taken from the name of the executable. Windows is case insensitive when it comes to filenames, so it's possible (and that happened in the past) to run "Launcher" with command `star launcher.exe`, which in turn makes the app name lowercase ("launcher" as opposed to "Launcher"). Apps often rely on having their na

[2017-03-22 11:02] per-samuelsson commented on #47
I'd say don't spend any time documenting this until we have resolved linked issue.

[2017-03-23 10:50] ErlendLandro commented on #32
Okay, I'll close this one for now. The reference documentation is available from http://reference.starcounter.io/

I'll try to improve it over time.

[2017-03-23 10:50] #32 closed, assigned to Mackiovello

[2017-03-23 10:53] warpech commented on #32
Great beginning. I think that the roadmap for future changes is at least:

- Display Starcounter version number that is relevant to this reference
- Put a link to it in the Docs
- Ability to browse reference for previous versions
- Automatic generation of the reference using TeamCity

[2017-03-23 11:19] ErlendLandro opened #49 "Document overloads to Db.Transact"
On the page [Using Transactions](https://docs.starcounter.io/guides/transactions/using-transactions/#dbtransact) write out what the `Db.Transact` overloads do and what they are used for.

[2017-03-23 11:31] warpech opened #50 "Database Variables page needs an example with dates"
### Type of issue:

Database Variables page needs an example with dates. I was asked on Skype by SWO new developers about how to use comparison operators like `>=` with date objects in `Db.SQL`.

I was not able to give him a good solution so I asked him to create an issue: https://github.com/Starcounter/Starcounter/issues/4181

I could only give him links to pages in "SQL" ([Literals](https://docs

[2017-03-23 12:15] ErlendLandro commented on #50
This is a part of a larger issue with the SQL documentation. Most of the SQL queries that are demonstrated use literals while literals are not supported with `Db.SQL`.

The problem he had was that he tried to use literals syntax `DATE <some-date>` with `Db.SQL`, which simply won't work.

Using comparison with `Datetime` objects is nothing weird at all with `Db.SQL`.

What I would like to do is to

[2017-03-23 12:17] ErlendLandro commented on #50
CC @k-rus

[2017-03-23 12:56] ErlendLandro commented on #32
Absolutely agree that those should be the steps forward.

A concern I have is how many public interfaces and classes there are. For example, all these classes/interfaces are public:
![capture](https://cloud.githubusercontent.com/assets/19392292/24248485/f53dfd66-0fcf-11e7-96a5-5d5ab836eaea.PNG)

Far from all of these are actually used by Starcounter developers.

I don't know how useful this refere

[2017-03-23 13:33] ErlendLandro commented on #44
Added in 	9fb5fa3

[2017-03-23 13:33] #44 closed, assigned to Mackiovello

[2017-03-23 13:53] mtornwall commented on #50
Agreed. The recommended solution should be the one that developers find first in the documentation.

I think we should still have documentation for literals, but make it more difficult to find and clearly explain why we discourage their use.

[2017-03-23 14:52] k-rus commented on #50
Feel free to update documentation. Obviously examples was written (not by me) in pure SQL without taking code host API in account.

A more general issue, SQL should be code host agnostics and its documentation will need to be so.

[2017-03-23 14:54] warpech commented on #50
So I think it is wise just to give a warning on SQL\Literals page saying that C# code host does not support literals but only prepared statements. On the other hand, literals are supported in Administrator, staradmin reload, etc.

[2017-03-23 14:57] ErlendLandro commented on #45
Fixed in f3095f9c88d86c60ad2a1c0d267f71b381dedf92

[2017-03-23 14:57] #45 closed, assigned to Mackiovello

[2017-03-23 15:12] ErlendLandro commented on #50
Thank you for all the comments. This is what I'll do:

1. Move the literals page later in the SQL section, right now it's the second page
2. Write out a clearer warning on the literals page
3. Add a text in the [Calling SQL](https://docs.starcounter.io/guides/SQL/#calling-sql) section that describes the difference between the various ways of using Starcounter SQL

[2017-03-24 08:26] ErlendLandro commented on #50
Fixed in 	cf4147c

[2017-03-24 08:26] #50 closed, assigned to Mackiovello

[2017-03-24 10:36] ErlendLandro commented on #41
Fixed with https://github.com/Starcounter/Starcounter/pull/4173

[2017-03-24 10:36] #41 closed, assigned to Mackiovello

[2017-03-25 17:24] warpech commented on #32
Jens created this recently with DocFX: https://remotecloud.github.io/Documentation. Also looks interesting

[2017-03-25 17:50] ErlendLandro commented on #32
Yea, DocFX look much nicer. The main downside is that it doesn't support as many languages as Doxygen. I'll try it out again.

[2017-03-25 23:09] dan31 commented on #32
@Mackiovello awesome result! Really like it :)
@Mackiovello @per-samuelsson regarding exposing things publicly: we mostly need to make sure we privatize our current experiments on mapping. The rest of patentable stuff I don't worry about as they are details of implementation hidden beyond public APIs. Maybe it is possible somehow to instruct the doc generator on what to exclude, @Mackiovello?

[2017-03-27 10:17] warpech commented on #32
Since the Level1 source code is now private, the need for a public API reference has dramatically increased IMO. See: https://github.com/Starcounter/TechComm/issues/299#issuecomment-289407776

[2017-03-27 12:12] ErlendLandro commented on #32
How it works is that one can choose what files/directories to include. As mentioned above, the only directories that are used now are Starcounter.XSON, Starcounter, Starcounter.Logging, and Starcounter.Internal.

I've chosen to switch over to DocFX since it's much more user-friendly. It's now available up at http://reference.starcounter.io/api/index.html. The URL's are also better, I can find `Htm

[2017-03-27 12:20] per-samuelsson commented on #32
Generated pages also look a lot better IMO. 👍

[2017-03-27 15:41] k-rus commented on #32
This page looks in Safari:

![screen shot 2017-03-27 at 17 41 12](https://cloud.githubusercontent.com/assets/1726044/24364955/a2526a9a-1314-11e7-9368-4d15a4d4e9f5.png)

Let me know if I should create issue at another place.

[2017-03-28 06:35] ErlendLandro commented on #32
It's fine. Should be fixed now. Could you please check?

[2017-03-28 07:42] ErlendLandro commented on #49
Fixed in 	14738ae

[2017-03-28 07:42] #49 closed, assigned to Mackiovello

[2017-03-28 09:01] ErlendLandro commented on #17
Fixed with 	d551a83 for some weird reason. Closing the issue.

[2017-03-28 09:01] #17 closed, assigned to Mackiovello

[2017-03-28 12:21] mmnosek opened #54 "Improve nginx configuration documentation"
### Type of issue:
Recently I've installed and configured Nginx with Starcounter. I tried to follow instructions from our docs but actually, we can improve them to make it easier.

1. Configuration listing is missing proper indents
2. We should add short description how to configure with multiple databases on the same server. `server` configuration section should be duplicated and another database

[2017-03-28 12:47] ErlendLandro commented on #54
Yes please 😄 That would be great.

I don't know anything about this so I would appreciate if you could fix it.

[2017-03-28 14:38] k-rus commented on #32
It's look fine now! Thanks.

[2017-03-30 13:54] inwenis opened #56 "Error in tutorial - creating new session"
### Type of issue:
Here: https://docs.starcounter.io/tutorial/first-interactive-ui/ is says the new session should be created like this: `Session.Current = new Session();`
But this causes errors in the console when I edit the fileds.
Here: https://github.com/StarcounterApps/HelloWorld/commit/f91dbaca04e4290e8a6b4f79a26da98b99f2b273 is says the session should be created like this:
`Session.Current

[2017-03-30 13:55] miyconst commented on #56
@inwenis thank you for reporting it! @Mackiovello please fix.

[2017-03-30 13:59] ErlendLandro commented on #56
Thank you for the issue! The thing is that `SessionOptions.PatchVersioning` is no longer used on the Develop branch, which is the one you're looking at.

I'll put a notice in the beginning of the tutorial so that people that are taking the tutorial are using the same Starcounter version as the one the tutorial is created for.

[2017-03-30 14:07] ErlendLandro commented on #56
Fixed in https://github.com/Starcounter/Docs/commit/17ab7224d1826cf6c418f750a647b2168d35fd95 and https://github.com/Starcounter/Docs/commit/7fc36d98fbf6991c029b6c32c1776e25594af9be

[2017-03-30 14:07] #56 closed, assigned to Mackiovello

[2017-03-31 01:46] ghost opened #57 "Simplify Contribution Process"
The current contribution instructions are too complex,

Simplify them, thus potential contributors can contribute easier.

[2017-03-31 04:05] ErlendLandro commented on #57
How do you propose to simplify it?

Letting people commit stuff in a haywire manner would make it impossible to merge upwards in a cascading fashion.

[2017-03-31 07:44] per-samuelsson commented on #57
@lazaridis-com

Thanks for the feedback.

I can't really see there is anything other than standard in these contribution guidelines, and basically the bare minimum. For anyone that want to contribute, just doing 1-6 and then asking us to merge in the PR when approved, in what way would you consider that too complex, and what step should be removed?

[2017-03-31 12:29] miyconst commented on #57
@Mackiovello, @per-samuelsson thank you for the answers. I am closing this issue as an invalid.

[2017-03-31 12:29] #57 closed, assigned to nobody

[2017-04-05 12:25] ErlendLandro commented on #33
I would consider this issue fixed with 		f7c5bde

We'll see if it's enough. Otherwise, this issue should be reopened and BEM should be clarified further.

[2017-04-05 12:25] #33 closed, assigned to nobody

[2017-04-05 12:36] ErlendLandro commented on #29
Fixed with 	8ab1a21

[2017-04-05 12:36] #29 closed, assigned to Mackiovello

[2017-04-24 07:47] ErlendLandro opened #66 "Restyle the on-page TOC to fit with the flow of the page"
The current TOC is not intuitive and sticks out of the page in a nasty way.

Restyle the TOC to look more like a normal list on the bottom of the page to be easier to use and more integrated into the rest of the page.

[2017-04-28 12:29] tomalec opened #68 "Tutorial of hello world uses `<content>` instead of `slot`"
Recently we added to Starcounter a feature to translate Shadow DOM V1 to V0 if needed, so we should use V1 syntax in our composition.

### Type of issue:
Page seems to be out of date

### Link to relevant page:
https://docs.starcounter.io/tutorial/ui-blending/

[2017-04-28 12:33] tomalec opened #69 "UI Blending in Tutorial uses explicit slot names not set before"
UI Blending step of tutorial uses explicit slot names, even though they were not set before.

Therefore, it will simply not work.

### Type of issue:
Inconsistency, bug

### Link to relevant page:
https://docs.starcounter.io/tutorial/ui-blending/

[2017-04-28 13:28] ErlendLandro commented on #68
Thank you for noticing!

Fixed with 	0672b1f

[2017-04-28 14:01] tomalec commented on #68
Could you please use double quote `"`, to keep it consistent with other attribute values?

[2017-04-28 14:02] tomalec commented on #68
Also, do you think, we should promote here lowercase slot names convention?

[2017-04-28 14:58] ErlendLandro commented on #68
Yes, you're right. I'll deal with it. We should follow our own guidelines in the tutorial

[2017-05-02 06:02] ErlendLandro commented on #68
Dealt with in d60209ffe2704bb00142344d6ac17941e9fe9da0 and updated in the code

Closing

[2017-05-02 06:02] #68 closed, assigned to Mackiovello

[2017-05-02 13:57] ErlendLandro commented on #66
Fixed with 	ca30e03

[2017-05-02 13:57] #66 closed, assigned to Mackiovello

[2017-05-02 17:07] sabitovskii opened #70 "Page display error"
### Type of issue:
There were found some errors on StarCounter tutorial's website. Seems like a web page have not rendered properly. Checked in Google Chrome and Mozilla Firefox

### Link to relevant page:
https://docs.starcounter.io/tutorial/expense-tracker/

[2017-05-02 17:32] ErlendLandro commented on #70
That's completely my bad! Thank you for reporting, I'll take care of it

[2017-05-02 17:36] ErlendLandro commented on #70
Fixed with c1d0996adff81f80269f0428b4efd50d42ab5da7

Please ask if you need any more help or have trouble understanding anything. We'll help you out as soon as possible to ensure that you understand Starcounter and can maximize it's potential

[2017-05-02 17:36] #70 closed, assigned to nobody

[2017-05-08 07:45] ErlendLandro opened #72 "Improve the Mapping and Blending documentation"
The documentation for mapping and blending, or just blending as it is now, is quite messy and incoherent. Here are some of the changes that I suggest to improve the documentation:

- [x] Delete the "Do one thing and do it well" page and move a shortened version to the [`/guides/blending` ](https://docs.starcounter.io/guides/blending/) page.
- [x] On the page [Sharing data](https://docs.starcounter

[2017-05-08 15:49] warpech commented on #72
We should added to the [Blending](https://docs.starcounter.io/guides/blending/blending/) page that this API replaces `UriMapping` and `OntologyMapping`, so people are not confused when they see this instead of the old APIs.

[2017-05-08 16:12] ErlendLandro commented on #72
Right, I'll fix that

[2017-05-10 13:29] ErlendLandro commented on #72
The create a clear structure around blending, I suggest that the blending section will be divided into the following sections:
* Sharing Data
* Server-Side Blending
* Client-Side Blending
* Avoiding CSS Conflicts
* Avoiding URI Conflicts

This would create clear distinctions between the different topics and make it easier to follow.

A possible page could also be about wrappers/launchers since the

[2017-05-11 11:54] mmnosek opened #73 "Broken link on SQL querying page"
### Type of issue:
Broken link
### Link to relevant page:
 https://docs.starcounter.io/guides/database/querying-using-sql/

On the page above there is a link to "certain reserved words", but it is invalid (page not found).It should be linked to the page with reserved words in Starcounter sql.

cc @Mackiovello

[2017-05-11 12:48] ErlendLandro commented on #73
Thank you for reporting! Fixed in 	4781358

[2017-05-11 12:48] #73 closed, assigned to Mackiovello

[2017-05-13 06:48] k-rus commented on #31
BUMP

[2017-05-15 05:43] ErlendLandro commented on #31
Thank you for bumping.

Should be fixed with 	db51b68

Please close if it works

[2017-05-15 07:20] k-rus commented on #31
Thank you. It works now.

[2017-05-15 07:20] #31 closed, assigned to Mackiovello

[2017-05-16 09:35] mmnosek opened #74 "Broken links on long-running transactions page"
### Type of issue:
Broken links

### Link to relevant page:
https://docs.starcounter.io/guides/transactions/long-running-transactions/#handling-long-running-transactions-in-view-models/

* Using Transactions page - page not found
* Creating and attaching long-running transactions - anchor does not work
* Dealing with already attached long-running transactions in view-models - anchor does not work

[2017-05-16 09:51] ErlendLandro commented on #74
The "Using Transaction" link is fixed.

The non-functioning anchor tags are partly due to GitBook. Locally, it works great. When built on the GitBook servers, they add a slash at the end which breaks the anchors.

I have a meeting with them today where I'll bring it up.

[2017-05-17 07:26] ErlendLandro commented on #74
Update about the anchor tags; it'll not be fixed in the current version of GitBook. They invited me to try out the closed beta for the next version which will fix this problem and a couple of others. I'll remove the anchor tags in the current documentation for now.

[2017-05-17 07:35] mmnosek commented on #74
Ok, great! Please close when done.

[2017-05-17 07:50] ErlendLandro commented on #74
Fixed, closing.

[2017-05-17 07:50] #74 closed, assigned to Mackiovello

[2017-05-18 09:06] tomalec opened #75 "Page on /sys/ folder could give exact list of bower dependencies loaded by Starcounter"
At https://docs.starcounter.io/guides/web-apps/using-web-components/ we are explaining how we use bower and `/sys/` folder and that you should ignore in `.bowerrc` all packages that are loaded by Starcounter, but we do not give the reference, which are are these.

We already maintain such list, so we could just give a link to
https://github.com/Starcounter/level1/blob/develop/src/BuildSystem/Clien

[2017-05-18 11:30] warpech opened #76 "Explain Starcounter.Advanced.XSON.JsonExtension.MergeJson"
### Type of issue:

`MergeJson` and the extension that provides it (`Starcounter.Advanced.XSON.JsonExtension`) is not explained in the docs.

This method is used in Launcher and Website.

This was discussed in https://github.com/Starcounter/level1/issues/3800#issuecomment-243814374

### Link to relevant page:

https://docs.starcounter.io/guides/typed-json/

cc @chrhol

[2017-05-18 11:31] ErlendLandro commented on #75
This is a good suggestion, the issue is that the level1 repo is private. Do we have another place with such a list?

[2017-05-18 12:43] warpech opened #77 "Explain SessionOptions"
### Type of issue:

Right now, `SessionOptions` is used in all of the apps, but not explained in the docs. Please explain the possible values of it and how to use it.

I was asked about this today by @habib535

cc @chrhol

Related: https://github.com/Starcounter/Home/issues/117

### Link to relevant page:

https://docs.starcounter.io/guides/web-apps/sessions/

[2017-05-18 13:08] tomalec commented on #75
At lease we can point to local file, so every developer could take a look at his own file system we could.
Maybe we could move this file to `/sys` so it would be accessible in any Starcounter server at http://inside.starcounter.com/sys/bower-list.txt

[2017-05-18 13:17] ErlendLandro commented on #77
Do we have an explaination of `SessionOptions` anywhere? There's nothing in level1 or in any GitHub issues. Could you provide one sentence of what every option does @chrhol?

[2017-05-18 14:40] warpech opened #78 "Explain what an connector app is (used to be called: wrapper app, adapter app)"
Moving a proposal from another thread. This will be discussed on the App Architecture Task Force meeting.

------

**When showing data from an external system, should this be a single app or two apps?**

A wrapper app suite should have two apps: one that imports data, and another one that displays data.

For example, a weather suite may consist of:
- Data importing app (that uses Wundergorund API,

[2017-05-19 06:22] ErlendLandro commented on #78
What do we consider to be wrapper apps? My understanding is that the Launcher and Website app are both wrapper app. If we agree on that, then the [Launcher page](https://docs.starcounter.io/guides/blending/launcher/) should be generalized to include information about wrapper apps as suggested here.

Furthermore, are wrapper apps a part of blending or of web apps? It doesn't feel directly blending

[2017-05-19 17:42] warpech opened #79 "Improve information about NetworkGateway.Deserealize()"
### Type of issue:

The information about `NetworkGateway.Deserealize()` is a little bit misleading. It exposes all information from the XML file, not just `MaximumReceiveContentLength`. See the implementation: https://github.com/Starcounter/level1/blob/2d6990034e47906453c8108c6191bdf43aa78959/src/Starcounter.Internal/GatewayConfig.cs#L167-L181

cc @alemoi

### Link to relevant page:

https://docs

[2017-05-19 20:41] warpech commented on #78
This not what we (me and @Starcounter-Jack) mean when we say wrapper app.

By "wrapper" we mean an app that wraps ("binds to" or "integrates with") an external service in a Starcounter database.

Wrapper apps are not a blending device, they are an integration device.

Maybe a better name than "wrapper app" can be used?

[2017-05-20 04:27] ErlendLandro commented on #79
This is an interesting situation. The `NetworkGateway` class has eight public methods. None of these are documented. If `Deserealize` should be properly documented, then all the others should probably be as well. This is especially the case since they are public. Is there a reason to have public methods that we don't document them? This is all very confusing to me.

It's also misleading because it

[2017-05-22 07:15] ErlendLandro commented on #78
Yes, "wrapper app" is very unclear. Calling the Launcher a wrapper app makes sense since it wraps the responses from multiple apps.

Are we thinking more of an adapter that takes an external API and makes it work with Starcounter? It makes sense to have many adapter apps. Having several "wrapper apps" doesn't really make sense.

[2017-05-22 07:50] per-samuelsson commented on #78
I was also confused by this terminology. Its good we bring it up for discussion.

A proposal: if we don't have one already, lets create one to illustrate the concept. And choose one that is

1. Simple to understand
2. Have low maintenance (e.g. the external API it consumes is stable)
3. Provide real value for other apps

The weather app could be a candidate. Exchange rates another.

[2017-05-22 07:54] mmnosek commented on #78
When I start to talk about "Wrapper App" people are confused. The first impression is "wow, cool, so I can put my legacy app and run it inside this wrapper? Is this what you mean?" but it always ends up with a long discussion. Instead of "Wrapper App" I use "Bridge App" as it is a bridge from the external world (external service, API) to Starcounter world. WDYT? From my experience "bridge" is easi

[2017-05-22 08:09] per-samuelsson commented on #78
It's probably OK, but I'd chose **adapter** over that, since it's the more common term in the world of software patterns (where those both patterns are very close). Facade and proxy pattern/names could also be considered.

[2017-05-22 08:11] mmnosek commented on #78
What about "Connector"?

[2017-05-22 08:17] per-samuelsson commented on #78
I'd go for one of the established pattern names instead.

[2017-05-22 08:24] mmnosek commented on #78
So, from my perspective, I agree for choosing "Adapter" :)

[2017-05-22 09:01] per-samuelsson commented on #78
Adapter actually has a few benefits

1. It's a well-known software pattern that is pretty close to what we imagine such app to do.
2. The word itself has a meaning that make sense - it *adapts* one app / set of apps into a new context (Starcounter).
3. It's smooth to say in combination with "apps" - "***a**dapter **a**pps*".

[2017-05-22 10:35] warpech commented on #78
I love "Adapter App". It is totally self-explanatory. "Bridge" was also good, but "Adapter" is straight to the point.

[2017-05-22 13:15] ErlendLandro opened #80 "Create new documentation version for 2.3.0.6350"
- [ ] Make the branch 2.3.0.6350 build on GitBook. It does not show up at the "branches to build" section of the settings right now which means that I can't build it.
- [ ]  Remove content that's only applicable for versions later than 2.3.0.6350.

[2017-05-22 14:44] warpech opened #81 "Content on the Sessions page needs to be revised"
### Type of issue:

As discussed on the todays App Architecture Task Force meeting (https://github.com/Starcounter/Minutes/issues/32):

The content on the Sessions page is written in tone of the desired functionality, not the actual functionality.

It should be rewritten to recommend the pattern presented in https://github.com/Starcounter/level1/issues/4159: use `Session.Current =` instead of `jso

[2017-05-22 23:54] ghost commented on #79
Thanks guys for the input. I totally agree with you. I will make all these internal and only expose MaximumReceiveContentLength.
The same I will do for most of the flags, to simplify things. For example, I will make XPath only available through the gateway XML and will review what can be set as a dynamic flag. Does not change the user experience much but simplifies what is exposed.

[2017-05-23 11:05] tomalec commented on #72
Just to note, that current https://docs.starcounter.io/guides/blending/blending/ "Client side blending" is totally out-dated.

[2017-05-23 12:14] ErlendLandro commented on #72
Good point. I removed it

[2017-05-26 09:53] warpech opened #83 "Explain `FromId`"
### Type of issue:

`DbHelper.FromID` was extended in https://github.com/Starcounter/level1/issues/2567

`Db.FromId` was added in the same PR.

The usage of this API is not explained in the Docs. Yet it is the primary way to retrieve the object by identity.

Please explain `DbHelper.FromID` and `Db.FromId` in the docs.

cc @per-samuelsson, @Mackiovello

### Link to relevant page:

- https://docs.s

[2017-05-26 11:06] per-samuelsson commented on #83
@Mackiovello

Note that I marked `DbHelper.FromID` as obsolete starting from 2.4/develop. Didn't want to do that as part of a stable (2.3).

[2017-05-26 13:04] warpech commented on #79
For me, simplification means that the whole config is exposed, not just a single property `MaximumReceiveContentLength`.

In RoR, you can get the config in runtime as (`Rails.application.config`) - http://guides.rubyonrails.org/configuring.html

I guess in other frameworks as well.

The same applies to the database config.

[2017-05-26 15:21] mmnosek commented on #54
Additional section needed in `location` configuration. To make a nginx proxy work with websockets correctly (e.g our Image upload) additional configuration needed: `proxy_http_version 1.1;` according to: https://chrislea.com/2013/02/23/proxying-websockets-with-nginx/

[2017-05-29 14:19] warpech opened #84 "Explain Session.ScheduleTask"
### Type of issue:

We have two APIs: `Session.ScheduleTask` and `Scheduling.ScheduleTask`. Only the latter is explained at the website. Some of our sample apps use `Session.ScheduleTask`. See the example: https://github.com/StarcounterApps/KitchenSink/blob/e382432b929057feb6850e9823533d086fb9b427/src/KitchenSink/FlashMessagePage.json.cs#L12-L16. The usage of it should be explained in the docs.

O

[2017-05-29 14:26] warpech commented on #84
We also have `Session.Use` that is used by @joozek78, but not in the sample apps. It is not documented.

[2017-05-29 14:40] chrhol commented on #84
`Session.ScheduleTask` is a shortcut for scheduling a task and make sure that the specified session is set to active. It also takes care of checking if the session is still alive or not. Using `Scheduling.ScheduleTask` and in that delegate check if session is alive and call `Session.Use` will have the same effect.

Isn't the problem a little wider, that we don't explain `Session` in a good way so

[2017-06-02 16:39] warpech commented on #84
@chrhol will `ScheduleTask` change significantly due to https://github.com/Starcounter/Home/issues/139 or can it be properly explained as it is?

[2017-06-03 12:42] SenerDemiral opened #85 "Develop -> Tutorial -> Create a Real Time UI (v2.4.0.1935)"
### Type of issue:
Does not run as expected.
Nothing displayed.
Console says:
DON'T misbehave! At least one <template> tag is expected in content body {"_ver#c$":0,"_ver#s":0,"Html":"/sc3/PersonJson.html","FirstName":"John","LastName":"Doe"}

Session.Current = new Session(SessionOptions.PatchVersioning);
changed with
Session.Current = new Session( Session.Flags.PatchVersioning );

### Link to rele

[2017-06-03 12:55] ErlendLandro commented on #85
Thank you for the issue. As noted in the introduction of the tutorial:

`Session.Flags.PatchVersioning` was introduced in 2.4. The release version is 2.3.

Closing.

[2017-06-03 12:55] #85 closed, assigned to nobody

[2017-06-03 18:08] SenerDemiral commented on #85
So, how can I run a this tutorial example on v2.4?

[2017-06-03 19:14] ErlendLandro commented on #85
It's not ready to be run on 2.4. The last release was two weeks ago which means that 2.4 is still maturing. Anyway, except for the change with `Session` instantiation and setting the references right as listed in the [docs](https://docs.starcounter.io/guides/working-with-starcounter/working-in-visual-studio/#create-a-starcounter-application-using-standard-templates) there shouldn't be much differe

[2017-06-04 20:35] SenerDemiral commented on #85
Thank you.
I already use v2.4 on my example projects. But I wondered why this simple tutorial code did not work.

[2017-06-05 12:42] warpech opened #86 "Explain how to prepare your view-models for missing data"
### Type of issue:

As pointed out on today's App Architecture TF (https://github.com/Starcounter/Minutes/issues/43), we should present a guideline how to prepare your view-models for data that is deleted by your app or another app running in the same session.

### Link to relevant page:

@Mackiovello can you propose a relevant page?

[2017-06-05 12:49] warpech opened #87 "Explain the MasterPage pattern"
### Type of issue:

As discussed on the App Architecture TF meeting, MaterPage pattern is here to stay and needs to be described in our docs. The planned changes in `Session` will just make it more flexible to decide when and how to use it.

### Link to relevant page:

@Mackiovello can you propose a relevant page?

[2017-06-05 13:15] per-samuelsson commented on #87
@warpech

This concept of MasterPage, is that comparable (even in parts) to other stacks / platforms? If so, would it be good to include a comparison section?

[2017-06-05 14:05] ghost commented on #79
I agree @warpech with that whole database configuration must be exposed.
I will make `NetworkGateway` internal now, and add a note in https://docs.starcounter.io/guides/network/network-gateway/

[2017-06-05 14:22] ghost commented on #79
The note message is now added to documentation. No replacing solution is however created. Maybe the database configuration settings are already available but not exposed via REST or API. @per-samuelsson maybe you know about it? I guess we would like some kind of JSON database info, but lets see first what is actually available.

[2017-06-05 15:05] per-samuelsson commented on #79
I'm not sure I fully understand what is requested here. For any application to consume (and possibly even manage) configuration about the database, or host, or environment in which the app is currently running, via an API?

If so, no, we don't have that.

Actually, we've been pretty strict in that code host should not know about database configuration as a concept, not it's representation, but ins

[2017-06-05 15:13] per-samuelsson commented on #79
Expanding on above: I actually have a TODO in 2.4 that is to review a full set of configuration-like settings that today exist as statics on a class called `StarcounterEnvironment`. The reason I'm reviewing them is because I don't fully understand why they are there, and I need to see how those should work in the context of new self-hosted apps.

From what I've gathered, these are all set during b

[2017-06-05 15:34] mmnosek opened #88 "Reserved vs supported words in SQL"
### Type of issue:
We present the list of the reserved words but not all of them are supported. Example: `Distinct`. The list suggests that all of those words are available in Starcounter. I was asked about it by one of our customers and completely agree.

### Link to relevant page:
https://docs.starcounter.io/guides/SQL/reserved-words/

@k-rus - could you please confirm that the list of the reser

[2017-06-05 16:11] mmnosek opened #89 "Explain Starcounter SQL usage in Db.SQL with examples"
### Type of issue:
`Db.Sql` documentation is not clear enough. It suggests, that it's possible to use whole Starcounter SQL, but does not explain how to use particular parts. For example:
* `SELECT e, d FROM Employee e JOIN Department d ON e.Department = d` works fine in Admin, but how to make it useful in `Db.SQL`? What it should return and how to access it?
* `SELECT e.LastName, e.FirstName  FRO

[2017-06-05 16:23] miyconst commented on #89
Although I agree that it should be documented, I don't think we should use such approach anywhere, since it bring some significant performance overheads.

The first case has to be investigated, while the second case will return something like a name value collection stored in a special Starcounter class. This collection is not the database objects, but rather copy of it's values, which eliminates

[2017-06-05 17:39] ghost commented on #79
Yes, exactly. I guess we are trying to find the way to get the values of that properties somehow, through static variables or some function calls.

[2017-06-05 21:21] mmnosek commented on #89
So I think our SQL documentation should be focused more on what is recommended in application code. Additional features need to be documented as well, but not at first place. Now when you go through the documentation it clearly suggests using `JOIN` and other not recommended features.
Who do you think would be helpful to elaborate more on that topic?

PS. I got the similar question about `UNION` i

[2017-06-06 04:06] ErlendLandro commented on #89
You're completely right, the SQL documentation is not clear. There will soon be big changes to the SQL documentation because of the new query processor. In that process, I will also try to take into account things like this.

Much of the content that's going to be going into the SQL section of the docs will be discussed at the SQL task force. I'll report back from what we decide there and discuss

[2017-06-06 04:13] ErlendLandro commented on #88
This is a good point. What I would suggest is to sometime early in the section write what's supported in Starcounter SQL. This page would then only be for reserved words. My understanding is that we reserve these words to avoid breaking changes with new keyword support.

[2017-06-06 04:16] ErlendLandro commented on #87
I think this is an excellent example of something to have in the cookbook. It should probably be linked from the session page too.

[2017-06-06 04:29] ErlendLandro commented on #69
Blending is not part of this tutorial anymore, closing this issue.

I'll keep it in mind when building the blending tutorial

[2017-06-06 04:29] #69 closed, assigned to Mackiovello

[2017-06-06 04:30] ErlendLandro commented on #80
This will be fixed with the migration to the new GitBook version. Keeping it open until then

[2017-06-06 07:20] per-samuelsson commented on #79
If I can suggest something, I always push for promoting the app instance as the starting point, and use navigation through the host. It's designed to be used like that from the start.

Hence, what I've been trying to strive for:

[code]

For me, that is much more self-explanatory than statics on some "context" or "environment". As an application programmer, I would expect there was a materializati

[2017-06-06 10:23] mmnosek commented on #54
Related: https://github.com/Starcounter/CompanyTrack/issues/240

[2017-06-06 13:16] warpech commented on #87
I don't know of a direct comparison in other stacks. Most stacks are all about stateless pages and stateless APIs (REST). @miyconst do you know of anything comparable?

[2017-06-06 15:20] miyconst commented on #87
For me the most familiar stacks are ASP.NET MVC & WebForms.

- ASP.NET MVC - master page means a HTML file with entry points for content sections. Usually the master page contains HTML header, footer, and navigation. There may be 0 or many master pages. The official name is "Layout", not master page.
- ASP.NET WebForms - master page performs the same function as described above, but instead of a p

[2017-06-07 05:45] k-rus commented on #88
I guess that the list of reserved words was hardcoded in OldSQL based on SQL standard and not the implementation. I think it is safe to remove the reserved keywords, which are not implemented in OldSQL, so the documentation doesn't confuse users.

[2017-06-07 08:58] mmnosek commented on #54
@mtornwall as the author of the related issue do you have any comments? What changes would you like to add?

[2017-06-07 09:04] mtornwall commented on #54
@mmnosek Primarily I'd like to see some hardcoded domains and IP addresses stripped from the file (eg `oops-email.com`, which seems to originate from a configuration file I provided @dan31 for reference).

[2017-06-07 09:05] mtornwall commented on #54
Also, I think we should be pushing [Let's Encrypt](https://letsencrypt.org) over self-signed certificates.

Basically:

* If you have your own certificate, configure it manually in `nginx.conf`.
* If you don't, we recommend you use LE.

[2017-06-09 12:34] mmnosek opened #90 "Explain TransactionAsync in more details"
### Type of issue:
`TransactionAsync` is not explained well enough. We say that it circumvents the max number of working threads, but we do not explain how it works under the hood, what are the assumptions, consequences etc. I had a talk about it with Dan today. Need more time to craft some changes.

### Link to relevant page:
https://docs.starcounter.io/guides/transactions/using-transactions/

[2017-06-09 13:06] mmnosek commented on #88
@k-rus If we assume that those words won't be implemented in OldSQL (because we invest our time in NewSQL only), could we make them not reserved first and then remove from documentation to make it perfectly clear? It should not be a big change I guess. Then everything will be crystal clear.

[2017-06-09 13:12] mmnosek commented on #89
@miyconst if you'll have a chance to investigate case 1, please write the conclusion here :)

[2017-06-12 05:47] k-rus commented on #88
I am not eager to remove them from being keywords as it is not a small job. The parser is written in Prolog, which requires to learn every rare occasion how to do it right.

[2017-06-15 11:13] PatrykSzwer opened #91 "Ambiguity of Network Gateway configuration file localization"
### Type of issue:
I think that line where configuration file location is explained is pretty confusing:

The actual file is where all configuration server files are (Users/user/Documents/starcounter/personal). First though after reading this line was that I should search where I installed starcounter itself (Program Files/Starcounter), specially when there is similar file there (scnetworkgateway.

[2017-06-15 11:27] ErlendLandro commented on #91
Look good! I would call it "server repository" to be consistent with https://docs.starcounter.io/guides/working-with-starcounter/configuration-structure/

I would also change "in your server" to "in the server"

Other than that, it's great.

[2017-06-15 11:53] PatrykSzwer commented on #91
So

would be the final version?

[2017-06-15 12:23] ErlendLandro commented on #91
Yes, that would be good

[2017-06-15 18:01] ErlendLandro commented on #91
Fixed with #92. Thank @PatrykSzwer!

[2017-06-15 18:01] #91 closed, assigned to nobody

[2017-06-20 06:15] ErlendLandro commented on #46
Closing as no longer relevant

[2017-06-20 06:15] #46 closed, assigned to Mackiovello

[2017-06-20 06:16] ErlendLandro commented on #18
This will be included with https://github.com/Starcounter/TechComm/issues/335

[2017-06-20 06:16] #18 closed, assigned to Mackiovello

[2017-06-21 20:55] warpech opened #94 "Rename the page Blending to Blender"
### Type of issue:

It seems a little bit confusing that in the category "Blending" there is a page "Blending". That page is wholly about the `Blender` API, so I think it could be renamed to "Blender"

### Link to relevant page:

https://docs.starcounter.io/guides/blending/blending/

[2017-06-21 22:25] Feyrious commented on #94
I would also like to see a section on how to use the mapped blending points since its not obvious.

An example of a blending uri being maped with a token and then how that uri is called inside the app to fetch from other apps that also uses that token.

[2017-06-22 05:18] ErlendLandro commented on #94
That page will be renamed to `Server-side blending` and it will include description of blending points etc.

What do you mean? Isn't it what's explained here: https://docs.starcounter.io/guides/blending/sharing-screen/?

Or do you want to have a description of how the `Blender` API handles tokens?

[2017-06-22 05:52] Feyrious commented on #94
As far as i can see it covers only covers OntologyMaping, showing a example with Blender to fetch a partial without involving the database should be covered also.

[2017-06-22 06:01] ErlendLandro commented on #94
Yes, the example with `OntologyMapping` will be removed.

If you're asking for an example where the `Blender` API is used, take a look at https://github.com/Starcounter/Docs/pull/93

[2017-06-22 07:27] ErlendLandro opened #95 "Import HTML composition page is outdated"
All these sentences no longer apply:

### Link to relevant page:
https://docs.starcounter.io/guides/web-apps/import-html-composition/

[2017-06-22 07:36] ErlendLandro commented on #95
It's also using `content` instead of `slot`

[2017-06-26 10:39] ErlendLandro commented on #83
Done with 	63e9a7e, closing

[2017-06-26 10:39] #83 closed, assigned to Mackiovello

[2017-06-26 10:50] mmnosek opened #96 "Enhance concurrency control section"
### Type of issue:
In concurrency control section of the page linked below, we use update (given 100, make two concurrent updates 110 and 120) to show the problem with concurrent updates. Then we ask the question what is the correct result, but there is no answer. This question shouldn't be left without the answer.

@k-rus @dan31 could you help us with the correct answer? Am I right that in this c

[2017-06-26 11:22] ErlendLandro opened #97 "Create client-side blending page"
Should describe how CompositionEditor and CompositionProvider works and the purpose of client-side blending.

[2017-06-26 11:39] ErlendLandro commented on #94
Closing as the page will be called `Server-side blending"

[2017-06-26 11:39] #94 closed, assigned to nobody

[2017-06-27 14:28] ubbeK opened #98 "Starcounter decimal data type is not the same as .NET"
### Type of issue:
According to https://docs.starcounter.io/guides/database/datatypes/, Starcounter database supports decimal properties/fields for the full .NET 128-bit data type, which we don't.

### Link to relevant issues:
https://github.com/Starcounter/Starcounter.Core/issues/108
https://github.com/Starcounter/level1/blob/develop/src/Starcounter.Internal/X6Decimal.cs
https://github.com/Starco

[2017-06-27 14:29] ubbeK commented on #98
cc @Mackiovello

[2017-06-28 08:16] ErlendLandro commented on #98
Fixed in 	52a5dc3. Can you check if that's a good enough description and close if that's the case?

[2017-06-28 12:48] ubbeK commented on #98
Looks good

[2017-06-29 18:07] mtornwall commented on #98
X6Decimal is limited in range as well as precision:

[code]

For comparison:

[code]

[2017-06-29 18:10] mtornwall commented on #98
Also, maybe put an asterisk or something after `Decimal` in the list of usable data types, just to call the reader's attention to it.

[2017-06-30 06:37] ErlendLandro commented on #98
Decided against this since all the different data types are explained below the list with some kind of note. Having an asterisk next to `Decimal` would just be confusing.

The point about range is addressed in 	fd1466a

[2017-06-30 06:37] #98 closed, assigned to nobody

[2017-07-04 12:30] mmnosek opened #100 "Change documentation versioning labels"
### Type of issue:
In our docs (https://docs.starcounter.io) we have a versioning. For me and I guess even more for beginners it's not obvious that `RC` and `Develop` means some Starcounter versions. I can think if it's some work in progress documentation maybe? I propose to simplify and make it clear. Currently, we have:
* Develop
* RC
* 2.2.1....
* 2.2.1834
* 2.1.177

I think better would be to

[2017-07-04 12:35] mmnosek opened #101 "Improve 3rd party services integration docs"
### Type of issue:
As more and more real projects are coming, I get more and more questions about 3rd party services integrations. I think we should improve documentation around this topic a bit. I don't really know what should be included... What I found so far is https://docs.starcounter.io/v/Develop/guides/network/external-http-calls/ but I'm not sure if it's up to date.

What I'm looking for i

[2017-07-04 12:46] ErlendLandro commented on #100
This kind of works. The problem is with 2.3. There we have 2.3.0 which is the stable version and 2.3.1, the release candidate. We could just add both with a minor number.

Other than that, I think it's a good idea. I'm also thinking about setting the default branch to 2.3.1 or 2.3.0

[2017-07-04 12:47] ErlendLandro commented on #101
What kind of services are you thinking about?

[2017-07-04 13:07] ErlendLandro commented on #80
fixed with 	0a744c8

[2017-07-04 13:07] #80 closed, assigned to Mackiovello

[2017-07-04 13:13] mmnosek opened #102 "Broken link"
### Type of issue:
Broken "Making database backups" link. https://starcounter.io/guides/tools/run-starcounter-in-production/#making-database-backups

It should refer to https://docs.starcounter.io/guides/working-with-starcounter/run-starcounter-in-production/#making-database-backups

### Link to relevant page:
https://docs.starcounter.io/guides/working-with-starcounter/kernel-q-and-a/

[2017-07-04 13:34] ErlendLandro commented on #102
Fixed in 	b74c2c2, closing

[2017-07-04 13:34] #102 closed, assigned to nobody

[2017-07-04 13:42] ErlendLandro commented on #100
I don't there will be any opposition to this, so I implemented it. If someone doesn't agree, please reopen, but I'll close this for now

[2017-07-04 13:42] #100 closed, assigned to nobody

[2017-07-04 14:51] k-rus commented on #96
To my knowledge when the later transaction gets conflict, it is retried and is committed if no new conflict happen. I don't work with concurrency control and cannot give more details. I believe @bigwad @eriohl or @chrhol can give more correct answer as they work more with this topic than me.

[2017-07-05 07:39] ErlendLandro commented on #72
Closing this one since there are issues for the remaining things #97 and #95

[2017-07-05 07:39] #72 closed, assigned to Mackiovello

[2017-07-05 08:51] ErlendLandro commented on #77
Okay, I need some help here. I've tried to dig through the level 1 code and found the following:

There are five options for `SessionOptions`:
1. Default
2. IncludeNamespaces
3. IncludeSchema
4. PatchVersioning
5. StrictPatchRejection

`IncludeSchema` doesn't seem to be implemented [anywhere](https://github.com/search?q=org%3AStarcounter+IncludeSchema&type=Code).

`StrictPatchRejection` seems is i

[2017-07-05 09:34] mmnosek commented on #101
Well, I just found an issue that pretty well covers what I expected to be done here. So it's a duplicate. See here: https://github.com/Starcounter/Docs/issues/78

[2017-07-05 09:34] #101 closed, assigned to nobody

[2017-07-05 09:37] mmnosek commented on #78
I would vote for currency rates. It is probably more useful in business apps. But it does not export anything.

Actually, it's not only about showing, but also exposing. So I would like to see `Adapter` that imports, shows and exports data, ideally.

[2017-07-05 10:20] ErlendLandro commented on #78
There are two approaches here: (1) make an app that is actually useful, (2) make a minimal app that just demonstrates how to do it.

I favor the first option. In that case, it should be an app that we or one of our customers will use so that we have to maintain it properly, otherwise it will rot like many of our other apps. Something that we and many of our customers could use, is an adapter app f

[2017-07-05 11:11] chrhol commented on #77
Urk, I really dislike this API. It's very badly implemented (by me which make it's worse :angry:). It's a mix of features never implemented  and features that is almost never used and some functionality that doesn't necessarily belong to `Session`. In short it's a mess.

Probably when https://github.com/Starcounter/Home/issues/139 is in place, these flags/settings will be pushed to the background

[2017-07-05 13:54] ErlendLandro commented on #77
Great! Thank you so much for the explanation. Please check if it's correct: https://github.com/Starcounter/Docs/pull/103

That would be nice!

Another question, the `Session` overload has the parameter [`includeNamespaces`](https://github.com/Starcounter/level1/blob/aef69c6bd66cf1c2b1b993f250beae7eff49ce68/src/Starcounter.XSON/Sessions/Session.cs#L100). Is this the same as `SessionOptions.IncludeN

[2017-07-06 08:20] eriohl commented on #96
We are using a classical snapshot isolation scheme meaning that if a record is updated within the a transaction is updated after the transaction started the transaction can't commit. Often referred to as "first committer wins". So if it end up 110 or 120 depends on which transaction commits first. The other one will be aborted.

This 130 implies that the transactions increases the current value by

[2017-07-06 08:29] eriohl commented on #96
Then if you involve this with long running transactions it gets kind of weird because long running transactions are kind of weird. In this case concurrency control is disabled on updates (so the last bit in the documentation mentioning these are a bit confusing). But maybe not mention this in this documentation because if then gets confusing and we are planning to drop long running transactions. A

[2017-07-06 08:31] eriohl commented on #96
Better to go into this with how it restarts on explaining transaction scopes I mean (which comes later).

[2017-07-07 07:23] chrhol commented on #77
Right, this one I forgot. It's more than a little confusing. I have problem follow exactly what it does in the code and it's only a couple of lines 😖

`SessionOptions.IncludeNamespaces` can be set from configuration (`StarcounterEnvironment.WrapJsonInNamespaces`) OR sent in as a parameter in the constructor OR enabled in the first enum sent in to the constructor.

If any of the first (config or se

[2017-07-07 13:35] mmnosek opened #105 "Delete obsolete type from documentation"
### Type of issue:
`LargeBinary` type is mentioned in our documentation, but Starcounter doesn't support it at all. It should be deleted.

### Link to relevant page:
https://docs.starcounter.io/guides/database/datatypes/

[2017-07-07 13:49] mmnosek opened #106 "Document multicore scaling of transactions"
### Type of issue:
We miss documentation of using transactions in parallel threads. It might be very important in high-performance systems but might be tricky. Probably it would be great to write a separate page about it. The original question I started to investigate this topic with was: "Is it possible to use C# Parallel API for UPDATE/DELETE instead of simple `foreach` loop?"

### Links to rela

[2017-07-10 06:51] ErlendLandro commented on #77
Oh wow, that's not intuitive

I'm not going to try to document it, especially since it's not directly related. I'll reference your comment if we'll have to document it before the code around it is cleared up

Fixed with https://github.com/Starcounter/Docs/pull/103, closing

[2017-07-10 06:51] #77 closed, assigned to Mackiovello

[2017-07-10 07:28] ErlendLandro commented on #75
Fixed with e454eea, please reopen if it's not good enough

[2017-07-10 07:28] #75 closed, assigned to nobody

[2017-07-10 07:31] ErlendLandro commented on #105
Fixed with 1470650

[2017-07-10 07:31] #105 closed, assigned to nobody

[2017-07-10 20:15] tomalec commented on #75
Thanks @Mackiovello
WDYT about making [bower-list.txt](file:///C:/Program%20Files/Starcounter/ClientFiles/bower-list.txt) a link?
[code]

[2017-07-11 06:29] ErlendLandro commented on #75
It's a good idea, unfortunately, GitBook doesn't seem to accept it 😞

[2017-07-11 06:34] ErlendLandro commented on #81
This will be dealt with as soon as https://github.com/Starcounter/Home/issues/139 is done

[2017-07-11 10:23] mmnosek opened #107 "Explain mixing long and short-running transactions"
### Type of issue:
I feel a little bit lost about combining long-running transactions (`Db.Scope`) with transactions (`Db.Transact`). It's not clearly explained in docs what will happen if we combine two of them. Nested transactions are simple. It's committed when the outermost scope is committed. This is when we use short-running transactions. Our potential customer asked a question what if I wou

[2017-07-11 10:36] mtornwall commented on #107
I believe @chrhol may be the person to ask about Level1 transaction facilities.

[2017-07-11 10:37] bigwad commented on #107
I think it's better to ask @chrhol on nesting of long running transactions and short running transactions.

As I see it:

Outer | Inner | Effect
------|-------|------
Long | Long | Execute inner as a part of outer
Long | Short | Execute inner as a separate transaction
Short | Long | Not supported. Run-time error.
Short | Short | Execute inner as a part of outer

As to why you see "Child2" - it's t

[2017-07-11 11:17] mmnosek commented on #107
It definitely needs to be in docs, thanks for this table @bigwad ! Let's wait for @chrhol, possibly I can also just make a test if needed.

I see. It would be good to include information about isolation level in both long and short transactions in docs, so:
- Serializable in short running transaction (but using snapshot isolation instead of locking)
- Read committed in long running transactions (b

[2017-07-11 11:39] bigwad commented on #107
No, it's not serializable. It's really snapshot isolated.

In your scenario (short-running is the inner of long-running) it's safe to assume long-running see all committed data once short-running finishes. But in general, it's unpredictable at when a long-running transaction encounters committed data. Certain API's, like creating a short-running transaction, introduce implicit synchronization poin

[2017-07-11 11:41] bigwad commented on #107
And one more point. Rather exotic. You're considered to be inside a short-running transaction while executing commit hooks. Even if you're committing a long-running one.

[2017-07-11 12:09] mmnosek commented on #107
Thanks for clarifying! It helps a lot. @chrhol please share your thoughts about https://github.com/Starcounter/Docs/issues/107#issuecomment-314404839 and then I can modify docs.

[2017-07-11 12:16] chrhol commented on #107
I have nothing to add. @bigwad have it covered :+1:

[2017-07-13 14:50] warpech opened #108 "CONTRIBUTING.md is not up to date"
### Type of issue:

CONTRIBUTING.md mentions checking out the branch `2.1.177`, but such branch does not exist.

### Link to relevant page:

https://github.com/Starcounter/Docs/blob/Develop/CONTRIBUTING.md

[2017-07-18 06:50] ErlendLandro commented on #108
Fixed with f3ba1e2, closing

[2017-07-18 06:50] #108 closed, assigned to nobody

[2017-07-18 08:02] mmnosek opened #110 "Add database column limit information"
### Type of issue:
We have a hard limit of 112 database columns in one class, it's because of perfromance. This information should be included on the page describing database classes creation.

### Link to relevant page:
https://docs.starcounter.io/guides/database/creating-database-classes/

[2017-07-18 08:11] ErlendLandro commented on #110
You're late to the party, I already included it a couple of hours ago ;) Noted that it's for performance reasons

[2017-07-18 08:11] #110 closed, assigned to nobody

[2017-07-18 08:12] mmnosek commented on #110
-.-  thanks!

[2017-07-18 13:37] ErlendLandro commented on #97
Fixed with 33bde56

Closing

[2017-07-18 13:37] #97 closed, assigned to Mackiovello

[2017-07-20 13:22] warpech commented on #78
The closest we already have is:

- [GoogleSignIn](https://github.com/StarcounterAppsFreezer/GoogleSignIn) - allows to sign in users with external authorization provider. Reads users identity from an external source
- [BraintreeWrapper](https://github.com/starcounterappsfreezer/braintreewrapper) - executes configured payment request with an external payment gateway. Reads the result from an externa

[2017-07-21 13:34] warpech commented on #84
Also, make a note regarding https://github.com/StarcounterApps/Website/pull/142#discussion_r128732364

[2017-07-24 14:13] alshakero opened #111 "Replace every occurance of Puppet[Js] with Palindrom"
[Link to relevant pages](https://github.com/Starcounter/Docs/search?utf8=%E2%9C%93&q=puppet).

[2017-07-25 16:25] warpech opened #113 "Write a Cookbook page about showing authentication view"
### Type of issue:

We should write a new [Cookbook](https://docs.starcounter.io/v/2.3.0.6350/cookbook/) page that describes the pattern of requesting authentication from your app.

The pattern can be seen in the current UserAdmin app [`master`](https://github.com/StarcounterApps/UserAdmin) branch:

1. When your app,  decides that the view cannot be presented without authentication, it redirects t

[2017-07-26 12:43] bouguila commented on #113
@warpech yes this should be fine!
Otherwise concerning the 2.nd step, if signin app is not running, "unauthenticated" view should provide information to user about not being unauthenticated.
also the self.get for the empty partial should be assigned to Master.CurrentPage, otherwise we will have no standalone page where the client-side blending can take place (at least in people app exemple).

[2017-07-27 15:37] warpech opened #115 "Write a Cookbook page about implementing Authorization"
### Type of issue:

After adding comments (https://github.com/StarcounterApps/Images/issues/113, https://github.com/StarcounterApps/Calendar/issues/69) about usage of the Authorization library in our prefab apps, draft a new [Cookbook](https://docs.starcounter.io/v/2.3.0.6350/cookbook/) page that describes the pattern of using the Authorization library in Starcounter apps.

It should be similar to

[2017-07-27 15:39] warpech opened #116 "Move the Selenium page to Cookbook"
### Type of issue:

The Selenium page shows a practical solution to a single problem. Perhaps it is a better fit to the [Cookbook](https://docs.starcounter.io/v/2.3.0.6350/cookbook/) section?

@Mackiovello if you agree, pls move the page.

### Link to relevant page:

https://docs.starcounter.io/guides/web-apps/acceptance-testing-with-selenium/

[2017-07-27 15:41] warpech opened #117 "Rename the "Web apps" section"
### Type of issue:

On our meeting in Stockholm 2017-06-13, @chrhol has used the term "blendable web apps". I like it. Maybe we should use it more in our materials. This includes renaming the "Web apps" section in the Guides.

The term "blendable web apps" differentiates perfectly from other kind of web apps out there.

cc @Mackiovello, @mmnosek, @tomalec

### Link to relevant page:

https://docs.

[2017-07-28 11:41] warpech commented on #113
Unfortunately, we cannot automatically detect that "signin app is not running". What will happen is that you get a response from all running apps that have views mapped to `userform-return`. If some content is excessive, it needs to be removed by user through composition editing.

Are you sure this is a requirement? Have you tried without assigning to `Master.CurrentPage`?

[2017-07-28 12:57] bouguila commented on #113
Yes, actually I've tried this and it didn't work

[2017-07-31 08:39] ErlendLandro commented on #116
I agree, the page is moved. Closing

[2017-07-31 08:39] #116 closed, assigned to Mackiovello

[2017-07-31 08:56] ErlendLandro commented on #111
This seems to be done with #112, closing. Thank you @alshakero!

[2017-07-31 08:56] #111 closed, assigned to alshakero

[2017-07-31 10:12] tomalec commented on #117
I totally upvote it. "Web apps" is so general, that developers may feel strange, that we are trying to tech them "how to write a web app". What we actually do is we are teaching them, and giving them platform to "create web apps that blends together"/"create blendable web apps". This is not so common term and I haven't seen such tutorial yet.

[2017-07-31 11:09] ErlendLandro commented on #117
I agree. The page is renamed. Closing.

[2017-07-31 11:09] #117 closed, assigned to nobody

[2017-07-31 11:54] mmnosek commented on #84
+1 for explaining ScheduleTask API with some example usages as well.

[2017-08-02 13:55] mmnosek opened #118 "Document staradmin start cleaner command/vacuum"
### Type of issue:
I've been asked by one of our customers if `staradmin start cleaner` command will help with the issue of high memory usage comparing to the data size. I was surprised because I've never seen this command and it's not mentioned anywhere at all. Is it `sccleaner`? Could anybody explain?

@per-samuelsson @ubbeK

### Link to relevant page:
https://docs.starcounter.io/guides/working-

[2017-08-03 15:59] warpech opened #119 "making-apps-blendable page is not listed in SUMMARY.md"
### Type of issue:

I have just discovered that `making-apps-blendable` page is not listed in SUMMARY.md. It should be either added to the TOC or deleted.

### Link to relevant page:

https://github.com/Starcounter/Docs/blob/Develop/guides/blending/making-apps-blendable/README.md

[2017-08-03 18:37] mmnosek commented on #118
Probably related to: https://github.com/Starcounter/RebelsLounge/issues/84

[2017-08-04 10:41] mmnosek opened #122 "Include params as array in sql query examples"
### Type of issue:
In documentation, we provide examples of how to write queries and how to pass parameters from code. Currently, examples have explicitly passed parameters like this:
`Db.SQL("SELECT c FROM Something c WHERE a = ? AND b = ?", param1, param2)`

It's also possible to do it like this:
[code]

Latter way should be documented as well. It is especially important while using dynamically

[2017-08-04 15:05] warpech opened #123 "HTML Views Blending Guidelines needs to change the recommendation about slots"
### Type of issue:

This is no longer true due to https://github.com/Starcounter/RebelsLounge/issues/152.

The recommendation should be changed to:

@tomalec please confirm.

cc @Mackiovello

### Link to relevant page:

https://docs.starcounter.io/guides/web-apps/html-view-guidelines/

[2017-08-04 17:11] tomalec commented on #123
👍  I do confirm.

Especially that previous "Slots should be provided" was misleading, as to me it means "Slot elements should be provided" which is contrary to "no `declarative-shadow-dom` is needed".

[2017-08-07 08:52] mmnosek opened #124 "Explain enum support"
### Type of issue:
Enum support is not explained in our documentation (or I'm not able to find it). AFAIK currently, we support enum types for the database class properties but inside the database, it's saved as a number. In code host it's enum, so only in SQL statements, it's visible as a number.

### Link to relevant page:
https://docs.starcounter.io/guides/database/datatypes/

cc @rogeralsing @

[2017-08-07 09:31] ErlendLandro commented on #123
Fixed

[2017-08-07 09:31] #123 closed, assigned to nobody

[2017-08-07 09:38] ErlendLandro commented on #122
I'll disagree on this one. In the documentation it says:

Since it uses the `params` object, it's implied that you can use both arrays and comma-separated values. We don't want to document how C# works.

[2017-08-07 10:03] ErlendLandro commented on #119
Good observation! I deleted it since it was moved to the blog

[2017-08-07 10:03] #119 closed, assigned to nobody

[2017-08-07 12:53] mmnosek commented on #122
Ok, missed this detail. Closing.

[2017-08-07 12:53] #122 closed, assigned to nobody

[2017-08-07 13:31] mmnosek opened #125 "Document string and binary fields size"
### Type of issue:
Storing `String` and `Binary` is limited in another way than in C#. Currently, both types are limited to 1MB (not 8KB as it is specified right now), but a `String` case is more complex. According to @bigwad:

* string is stored in variable-length-encoding format
* 1MB is the limit of encoded string
* string should contain less than 1MB of UTF16 code units, but it should also tak

[2017-08-08 08:22] ErlendLandro commented on #87
Fixed with #109.

[2017-08-08 08:22] #87 closed, assigned to nobody

[2017-08-08 08:23] ErlendLandro commented on #81
Fixed with #109. The new session changes still have to be documented.

[2017-08-08 08:23] #81 closed, assigned to Mackiovello

[2017-08-08 11:45] per-samuelsson commented on #118
It sure is. It can't be properly documented just yet, since not all parts are fully in place and/or working smooth together. (It's quite unlucky that it's part of CLI help message when not everything work crisp. It's not harmful in any way, but not usable either)

[2017-08-08 11:53] mmnosek commented on #118
I see. The problem is that customers are asking "if it will help with this and this" while I have no idea that something like this exists :) It's ok that it doesn't work properly yet. We have some options:
* Document it briefly saying what it is supposed to do, but it may not work properly as it's in RC branch only (I vote for this as our documentation is versioned)
* Leave it as it is
* Remove it

[2017-08-08 13:08] per-samuelsson commented on #118
This:

[2017-08-10 20:53] mmnosek opened #127 "Add info about ScErrTransactionModifiedButNotReferenced on Transactions page"
### Type of issue:
If long running is not committed/rolled back at all, `ScErrTransactionModifiedButNotReferenced` is thrown (as described here: https://github.com/Starcounter/level1/issues/3168). On the page below it should be explained in details as it's not obvious compared to the short running transaction.

### Link to relevant page:
https://docs.starcounter.io/guides/transactions/long-running

[2017-08-18 12:25] tomalec opened #128 "Update blending docs to fit starcounter-include@3.0.0"
It's a part of https://github.com/Starcounter/RebelsLounge/issues/156
Precisely, there will be no implicit slot names and automatically created slots

### Type of issue:
Update

### Link to relevant page:
https://docs.starcounter.io/guides/web-apps/html-view-guidelines/

[2017-08-23 07:23] LarsTjernstrom opened #130 "Documentation. How to create reusable web parts on the starcounter plattform"
Description:
The current "partial HTML View Example", only specifies how the content is imported to the view,
where to place in and which part of the model to use.
Whats missing is, the code in the JSON viewmodel and codebehind.

Link: https://docs.starcounter.io/guides/web-apps/html-views/

In your JSON view-model specify the name of the your reusable web part, e.g AddressPartial.

"AddressPartia

[2017-08-25 08:44] tomalec commented on #128
Fixed by https://github.com/Starcounter/Docs/pull/131

[2017-08-25 08:44] #128 closed, assigned to nobody

[2017-08-26 07:49] SenerDemiral opened #132 "Custom Elements V1 Polyfill"
It would be better if you add below line to https://docs.starcounter.io/guides/network/middleware/
Section:
It's possible to override this default HTML by passing a string containing HTML as a parameter. Here's an example of that:
...
`<script` `src=""/sys/document-register-element/build/document-register-element.js""></script>`
...
`

[2017-09-04 14:04] ErlendLandro commented on #125
Done

[2017-09-04 14:04] #125 closed, assigned to Mackiovello

[2017-09-04 19:07] ErlendLandro commented on #132
Good point! Fixed

[2017-09-04 19:07] #132 closed, assigned to nobody

[2017-09-07 13:04] ErlendLandro commented on #127
Done

[2017-09-07 13:04] #127 closed, assigned to nobody

[2017-09-07 13:05] ErlendLandro commented on #107
Done

[2017-09-08 11:06] joozek78 commented on #90
Taken verbatim from https://github.com/Starcounter/Home/issues/228#issuecomment-328040516

I think it should be underlined that despite the name (Async) most of work is done synchronously. It took two people for me to understand that the actual db operation is synchronous. I think someone else could make the same mistake. My proposal:

[code]

[2017-09-12 11:19] LarsTjernstrom opened #140 "Warning when compiling Hello World -Tutorial"
### Type of issue:
Warning when compiling Hello World -Tutorial
  json.Session = Session.Current;
  since json.Session is flagged obsolete

### Link to relevant page:
https://docs.starcounter.io/tutorial/create-a-real-time-ui
Remove line 16
https://docs.starcounter.io/tutorial/first-interactive-ui
Remove line 15
https://docs.starcounter.io/tutorial/create-a-real-time-ui
Remove line 16

[2017-09-12 14:23] ErlendLandro commented on #140
You're running 2.3.1, right? The tutorial is made for the latest stable release of Starcounter (2.3.0.6350) so it will give warning on later versions. I think it's reasonable for the tutorial to run on the stable release, or am I wrong?

[2017-09-12 14:24] ErlendLandro commented on #124
Fixed

[2017-09-12 14:24] #124 closed, assigned to nobody

[2017-09-12 18:25] LarsTjernstrom commented on #140
The tutorial should run on stable version, but the current stable version
also contains bugs when removing grid rows from the top (index zero), when
working the expenses in the Tutorial. This grid bug was fixed in August,
version 2.3.1.x, but that version has an hard obsolete flag on
Session.Data...
So I actually don't know what's best.

[image: photo]

<https://www.facebook.com/StarcounterDB/>
<h

[2017-09-13 12:51] alshakero opened #141 "Clicking errors leads you to restricted access level1 repo"
Errors shouldn't be for members only, right?

![image](https://user-images.githubusercontent.com/17054134/30378283-fd5635c6-9892-11e7-8c32-3801aa02156e.png)

![image](https://user-images.githubusercontent.com/17054134/30378305-0f1bcff0-9893-11e7-8bac-d8cb1415a4bc.png)

[2017-09-13 13:36] ErlendLandro commented on #141
Yes, you're right. The error pages need a lot of work. This is a duplicate of https://github.com/Starcounter/TechComm/issues/253.

[2017-09-13 13:36] #141 closed, assigned to nobody

[2017-09-15 15:05] ErlendLandro commented on #140
Since it's not too long until 2.3.1 is released as stable, we're going to update the tutorial then. That'll be fine. Thank you for notifying anyway. Closing

[2017-09-15 15:05] #140 closed, assigned to nobody

[2017-09-18 12:25] chrhol opened #143 "Clarify that non-public properties/fields are not allowed in database classes."
### Type of issue:
Currently we do not support non-public properties/fields in database classes. This applies to both persistent and not-persistent (i.e. properties with code or marked with `[Transient]` attribute) properties/fields.

This should be made more clear in the text, since it's somewhat uncommon design limitation to have compared to standard .Net classes.

Relevant issues: https://githu

[2017-09-18 14:45] ErlendLandro commented on #143
Good catch!

Code example and section updated to describe this: https://docs.starcounter.io/v/2.3.0/guides/database/creating-database-classes

[2017-09-18 14:45] #143 closed, assigned to Mackiovello

[2017-09-18 17:03] ErlendLandro commented on #90
Do you need more details or is it fine as it is now @mmnosek
https://docs.starcounter.io/guides/transactions/short-running-transactions#db.transactasync

[2017-09-24 07:01] warpech opened #145 "Project structure is not rendered"
### Type of issue:

Project structure is not rendered in the new Gitbook. This turned out to be a problem when I was trying to refer to the project structure in a PR https://github.com/Smorgasbord-Development/DatabaseEditor/pull/12.

<img width="1409" alt="screen shot 2017-09-24 at 09 01 04" src="https://user-images.githubusercontent.com/566463/30780250-fd12db4c-a106-11e7-9311-51db36d74511.png">

[2017-09-25 11:53] ErlendLandro opened #146 "Adapt tutorial to work without warnings"

[2017-09-25 14:50] ErlendLandro commented on #146
The tutorial is updated with `Session.Ensure` so that there are no build errors anymore.

There are still warnings in the console:
[code]

I'm not sure why the first warning is printed twice.

Other issues that I stumbled into:
* Expenses are not properly lined up in Firefox, it seems like the expense partial view is treated as an inline element in Firefox and as a block element in Chrome.
* Some

[2017-09-25 15:49] ErlendLandro commented on #90
I'm going to assume that this one is fixed. If not, please reopen.

[2017-09-25 15:49] #90 closed, assigned to Mackiovello

[2017-09-25 16:45] ErlendLandro commented on #146
Okay, the warnings about `puppet-client` will be solved by https://github.com/Starcounter/Home/issues/213. It has nothing to do with the tutorial.

[2017-09-25 17:01] ErlendLandro commented on #146
The `You view-model is probably not namespaced!` warning comes from using this: https://github.com/Starcounter/RebelsLounge/issues/118

I think this means that we have to use the old solution again where a `Self.GET` is made to every item in the collection after a change is made. It looks like a bad pattern to me. Is there another way to get rid of the warning without going back to this overly com

[2017-09-25 17:49] tomalec commented on #146
To answer this I need to know, whether you want each item in the collection to be a blending point?
If you want to use blending features you need to mark it on the serverside => so far `Self.GET` **is and was** the only way to do that. Otherwise:

So  the code from https://github.com/Starcounter/RebelsLounge/issues/118 should look like
[code]
I don't see what and where gets overly complex.

[2017-09-25 18:45] tomalec opened #147 "Client-side stack page is outdated in regards Web Componenets"
### Type of issue:

### Link to relevant page:
https://docs.starcounter.io/guides/web-apps/client-side-stack

Besides the fact Polymer team is moving away from HTML Imports, Web Components API is widely adopted by other browsers - see https://www.webcomponents.org/ - Template is everywhere, Safari has CE and SD.

I'd rather rephrase it to something like:

Also there is

Which in my opinion is not

[2017-09-26 15:33] ErlendLandro commented on #146
That makes sense. I was confused because the app started crashing, but it turned out that it wasn't because of `imported-template`.

The code is now updated so that no warnings are displayed except for the `puppet-client` warnings.

[2017-09-26 16:17] ErlendLandro commented on #146
The text is also updated to work with the RC. Closing.

[2017-09-26 16:17] #146 closed, assigned to Mackiovello

[2017-09-26 20:25] ErlendLandro commented on #145
Good observation, GitBook doesn't handle HTML, so it didn't render. It's fixed now

[2017-09-26 20:25] #145 closed, assigned to Mackiovello

[2017-09-26 20:51] ErlendLandro commented on #147
Thank you for writing out a specific alternative. Text is updated

[2017-09-26 20:51] #147 closed, assigned to Mackiovello

[2017-09-26 23:30] ErlendLandro commented on #130
I don't understand. Under "Partial HTML View Example" it just describes how to create a view, I don't think the view-model should be included in that.

What do you mean with this? The JSON file would be called something like `AddressPartial.json`, and you would have an HTML property that pointed to the corresponding view, but you don't have to specify the name in the file. Or am I getting it compl

[2017-09-26 23:53] ErlendLandro commented on #79
@per-samuelsson is there an issue for this?

If so, I think that this issue should be closed and that documentation of configurations should be done with that review.

[2017-09-27 06:00] LarsTjernstrom commented on #130
The link
https://docs.starcounter.io/guides/web-apps/html-views/
only describes 2 ways to work with partials. Contantin had shown me a 3:rd way, define the partial as an object in the json definition of the viewmodel and set the partialview to the object in the codebehind of the viewmodel. This third option works but is not documented and it's  approuch is closer to how this is done in asp.net MVC

[2017-09-27 06:01] LarsTjernstrom commented on #130
The partial viewmodel points to the HTML-file used by the partial

[2017-09-27 06:52] per-samuelsson commented on #79
No there is not. It's just a TODO in the code, that I wrote when I saw it when I redesign stuff to support new self-hosting alternative in 2.4. Or actually, I think I've left it as a task part of self-hosting umbrella issue also. It's really not my code to start with, so I didn't dare to do anything about it. Just noticed it doesn't really fit well in self-hosting context, and thought something ha

[2017-09-27 06:54] per-samuelsson commented on #79
Second point of **Technical dept** in this: https://github.com/Starcounter/level1/issues/3869

[2017-09-27 18:10] ErlendLandro commented on #130
Just to make sure I'm getting this right, you're talking about having a view-model containing another view-model, for example:

[code]

In the code-behind:
[code]

Is that right?

[2017-09-27 18:33] ErlendLandro commented on #76
How is `MergeJson` supposed to work? Doing this gives me nothing:

[code]

The [only time we use](https://github.com/StarcounterApps/Website/blob/abb16901f032bea08d7b889d7bb60e133b9c56f7/src/WebsiteProvider/Api/ContentHandlers.cs#L219) isn't helpful either.

[2017-09-28 05:39] LarsTjernstrom commented on #130
Yes it was Constantin that showed me that you can do it that way also.

Skickat från min iPhone

[2017-09-28 12:31] chrhol commented on #76
Yeah, I'm not sure how to document this. It was added for a very specific reason in Launcher/Website and more as an experiment to see if it would work or not. And it's also badly named, it doesn't merge anything.

What it does, is a manual blend (or attaching/linking) of one viewmodel to the other, bypassing the blending routines you have when using `Blending.MapUri`.

And to see the result of thi

[2017-09-28 16:55] ErlendLandro commented on #79
Thank you for the answer. Solving the configuration issue is probably out of scope for this issue.

@alemoi could you mark `Deserealize` as obsolete in 2.4 and we could close this?

[2017-09-28 17:10] ErlendLandro commented on #76
The only thing preventing `MergeJson` from being defined in the Website app is to make `Json.Siblings` `public`. That would allow us to mark `MergeJson` as obsolete in level1. I don't like increasing the public API by making `Siblings` public, on the other hand, it would make it possible to remove `MergeJson`. Is that a reasonable solution?

I'm very skeptical of documenting this since it's super

[2017-10-04 07:40] chrhol commented on #76
Sorry for the delay in answering.

I agree with this. I don't think making `json.Siblings` public will help though and it might be a worse solution.

This method is public only because it has to be. Maybe we can move it away (i.e. obsolete and redirect in 2.3) to some internal namespace and make it clear in the code-doc that it's considered to be an internal function and should be used with care (

[2017-10-05 11:16] ErlendLandro commented on #76
It's already in the `Advanced.XSON` namespace, so I don't think it can be made much clearer. Is there no way to implement this in application code without having access to internal functions? Does `MergeJson` exist because of a limitation in Starcounter 2.3.1?

This is the kind of stuff that I would like to be in a separate NuGet package so that people would explicitly have to opt-in. It would the

[2017-10-08 20:14] tomalec opened #148 "Cannot open search result in new tab"
### Type of issue:
Bug

### Link to relevant page:
https://docs.starcounter.io/guides/blending/client-side-blending?q=partial

Wehn I try to `right-click`, or `ctrl+click` on a search result it closes search results and opens single result in the current tab.

[2017-10-08 20:33] tomalec opened #149 "Cookbook advises to use `<starcounter-include>` for non-blendable view-model"
### Type of issue:
?

### Link to relevant page:
https://docs.starcounter.io/cookbook/multiple-pages#view

This pages advises to use `<starecounter-include partial="{{model.Focused}}">` where focused is just an object assigned as `mailPage.Focused = new Focused();`

So the node is totally non-blendable: it has no URI to attach/blend other apps, no URI to use as an id to store composition, no names

[2017-10-08 20:37] miyconst commented on #149
Should we just update the documentation with using `<template is="imported-template">` then? And put a link to the page which describes the difference between the two?

[2017-10-08 20:42] ErlendLandro commented on #148
Agree, that should be possible. I contacted the GitBook people with your request, will close this issue when it's fixed.

[2017-10-08 20:58] ErlendLandro commented on #148
Future requests for changes for the documentation platform can be made here: https://gitbook.canny.io/feature-requests

I opened a new request for this here: https://gitbook.canny.io/feature-requests/p/open-search-result-in-new-page

Please upvote if you wish to get it fixed sooner

[2017-10-08 21:15] tomalec commented on #149
I think we should. I'm currently writing a blog article about this difference and how to update the code.

[2017-10-09 06:54] miyconst commented on #149
Please assign the issue on @Mackiovello once you are done with the blog post.

[2017-10-09 21:02] tomalec opened #150 "Update HTML view guidelines with default slot details"
### Type of issue:

### Link to relevant page:
https://docs.starcounter.io/guides/web-apps/html-view-guidelines

We need to update the guide with more details about "default slot":
 - it's automatically created for default compositions on server-side,
 - it's **not** created automatically for custom compositions,
 - it could be added to custom composition (HTML Composition for merged response) if

[2017-10-10 12:44] tomalec commented on #149
Blog post is done (https://github.com/Starcounter/BlendingTF/issues/3) - https://starcounter.io/starcounter-include-non-namespaced-partial-view-models/

[2017-10-10 15:30] ErlendLandro opened #151 "Document nested transactions in Starcounter Nova"
### Type of issue:

Document undocumented functionality

### Link to relevant page:

https://docs.starcounter.io/v/starcounter-next/guides/database/transactions

Information is here: https://github.com/Starcounter/Starcounter.Core/issues/215

[2017-10-10 15:35] ErlendLandro opened #152 "Create common guidelines for topic guide pages"
There's no common structure or formatting for the pages in the guides. This makes it hard to read. Create guidelines for guide articles. Add the guidelines one by one and apply the guidelines incrementally. The guidelines should be posted in the CONTRIBUTING.md of this repo.

Example of guidelines:
* Use title casing for headlines
* Have an introduction on every page
* Code-blocks should use highl

[2017-10-10 15:45] ErlendLandro commented on #152
The guidelines are here: https://github.com/Starcounter/Docs/blob/Develop/CONTRIBUTING.md#style-guidelines

[2017-10-10 15:48] ErlendLandro opened #153 "Add introduction to pages in the guides"
### Type of issue:

Follow guidelines

The guidelines say that every topic guide page should have an introduction: https://github.com/Starcounter/Docs/blob/Develop/CONTRIBUTING.md#every-page-should-have-an-introduction

This is applied to the sections "Database", "SQL", "Transactions", and "Typed JSON". When the rest of the sections are following the guidelines, this issue can be closed.

[2017-10-10 16:01] ErlendLandro opened #154 "Merge "Introduction to Web Components" and "Using Web Components" into one page"
### Type of issue:

Structure improvement

### Link to relevant page:

https://docs.starcounter.io/guides/web-apps/introduction-to-web-components
https://docs.starcounter.io/guides/web-apps/using-web-components

These pages are tightly interlinked and should be one page.

[2017-10-10 16:28] ErlendLandro opened #155 "Update code on "Anonymous or Substitute Handlers" page"
### Type of issue:

Outdated code

### Link to relevant page:

https://docs.starcounter.io/guides/network/anonymous-or-substitute-handlers

The page uses `UriMapping` now

[2017-10-10 17:49] ErlendLandro opened #156 "Delete "Testing HTTP requests" page"
### Type of issue:

Delete page

### Link to relevant page:

https://docs.starcounter.io/guides/working-with-starcounter/testing-http-requests

The page is not Starcounter specific in any way and should not be in our documentation

[2017-10-10 17:55] ErlendLandro commented on #54
Should we even have this page in the documentation? It's not Starcounter specific.

The same applies to the "[Using HTTPS on ISS](https://docs.starcounter.io/v/2.4/guides/working-with-starcounter/using-https-on-iis)" page.

If we're going to document how to setup HTTPS with Starcounter, I think we should have a page "HTTPS with Starcounter" where we only document the things that are specific to St

[2017-10-10 20:38] ErlendLandro commented on #153
This is done. It's not always perfect, but it's consistent

[2017-10-10 20:38] #153 closed, assigned to Mackiovello

[2017-10-10 20:40] ErlendLandro commented on #156
This is done. Closing

[2017-10-10 20:40] #156 closed, assigned to Mackiovello

[2017-10-10 21:53] ErlendLandro commented on #154
Done. I think the stuff not directly related to Web Components should eventually be moved somewhere else, such as the static file server description: https://docs.starcounter.io/guides/web-apps/introduction-to-web-components#starcounter-static-file-server

[2017-10-10 21:53] #154 closed, assigned to Mackiovello

[2017-10-10 22:00] ErlendLandro opened #157 "Document how to deal with scerr13003"
### Type of issue:

Document error

Several people have hit this exception and searched for it in the docs. Investigate what causes ScErr13003 and explain how to fix it in the docs.

[2017-10-10 22:01] ErlendLandro opened #158 "Document how to deal with scerr12017"
### Type of issue:

Document error

People have been hitting this error and searched for it in the docs with no result. Investigate and document.

[2017-10-10 22:05] ErlendLandro opened #159 "Create common guidelines for cookbook pages"
The cookbook pages have barely anything in common. They're all formatted differently which makes them hard to use.

There should be a common format, something simple like this would be a starter:
1. Goal (what problem do we solve)
2. Step by step solution
3. Summary

This should be in CONTRIBUTING.md together with the topic guides guidelines.

[2017-10-10 22:22] ErlendLandro opened #160 "Rename Hello World tutorial to Expense Tracker Tutorial"
I know we've discussed this before. Calling the current tutorial a "Hello World" is misleading. On the getting started page we have an actual "hello world": https://docs.starcounter.io/getting-started#3.-build-and-run-an-app

I suggest that we rename the Hello World tutorial to Expense Tracker Tutorial or just call it "Tutorial: Intro to Starcounter". That's what both React and Django does.

[2017-10-10 22:27] ErlendLandro commented on #149
Cookbook is updated and blog post is linked from here: https://docs.starcounter.io/guides/web-apps/html-views#html-view-definition

Nicely done with the article!

Closing

[2017-10-10 22:27] #149 closed, assigned to Mackiovello

[2017-10-12 10:58] tomalec commented on #149
I'd just make `imported-template` a link to respective repo at

[2017-10-12 11:07] ErlendLandro commented on #149
That's a good idea. Fixed.

[2017-10-12 16:42] ErlendLandro opened #161 "Document how to deal with scerr4012"
### Type of issue:

Document error

Several people have hit this error and searched for an answer without finding anything. Figure out what causes the error and document it to avoid it happening again

[2017-10-13 01:02] ErlendLandro commented on #157
At least one source of this error is documented here: https://docs.starcounter.io/guides/working-with-starcounter/staradmin-cli#scerrhandleralreadyregistered-(scerr13003)

Closing.

[2017-10-13 01:02] #157 closed, assigned to Mackiovello

[2017-10-13 11:29] ErlendLandro opened #162 "Use level1 API instead of staradmin for management task in test cookbook"
### Type of issue:

Change code in documentation

### Link to relevant page:

https://docs.starcounter.io/v/2.4/cookbook/unit-testing-with-database-access

The API is in Starcounter.CLI.

https://github.com/Starcounter/TechComm/issues/363

[2017-10-13 12:27] #159 closed, assigned to Mackiovello

[2017-10-13 12:27] ErlendLandro commented on #152
Closing as done. The existing guidelines will probably grow over time from this point

[2017-10-13 12:27] #152 closed, assigned to Mackiovello

[2017-10-13 12:32] ErlendLandro opened #163 "Use consistent headline casing"
The headlines are all cased differently, update the headlines to follow title casing.

[2017-10-13 12:53] ErlendLandro opened #164 "Merge the two HTTP pages into one"
### Type of issue:

Merge pages

### Link to relevant page:

https://docs.starcounter.io/guides/network/creating-http-responses
https://docs.starcounter.io/guides/network/handling-http-requests

[2017-10-13 19:19] ErlendLandro commented on #163
This is done. Closing

[2017-10-13 19:19] #163 closed, assigned to Mackiovello

[2017-10-13 19:24] ErlendLandro commented on #164
The two pages are now merged into one HTTP page: https://docs.starcounter.io/guides/network/handling-http-requests

[2017-10-13 19:24] #164 closed, assigned to Mackiovello

[2017-10-14 00:35] ErlendLandro commented on #155
Wait until Starcounter/RebelsLounge#203 is decided. If it's being deprecated, there's no reason to spend time updating the page. It should then get a deprecation note on 2.3.1 and the page should be removed for 2.4.

[2017-10-14 14:53] ErlendLandro commented on #95
Page is now updated.

[2017-10-14 14:53] #95 closed, assigned to Mackiovello

[2017-10-14 14:55] ErlendLandro opened #165 "Explain key of HTML composition"
https://docs.starcounter.io/guides/web-apps/import-html-composition

Key is not explained. It's not as straight-forward as people might expect.

[2017-10-14 18:23] ErlendLandro commented on #162
Using the level1 API will make the code much more complicated and involve more low-level concepts, so it's not right for the documentation. Will keep the solution as it is.

[2017-10-14 18:23] #162 closed, assigned to Mackiovello

[2017-10-16 13:52] ErlendLandro commented on #76
Since this is incredibly niche, it will not be documented in the official docs. Unassigning myself for now. The method is only useful in the WebSite app, so in a perfect world, that's where it would be implemented.

[2017-10-16 21:02] warpech opened #166 "Explain that unhandled exception in asynchronous task brings down the codehost"
### Type of issue:

An unhandled exception in asynchronous task (such as `Session.ForAll`) brings down the codehost, which means that it stops all the running apps.

It is explained better in:

- https://github.com/Starcounter/home/issues/51
- https://github.com/Starcounter/Website/issues/200#issuecomment-333992756

In fact, I guess much more issues were reported because of this behavior.

### Lin

[2017-10-17 14:48] ErlendLandro commented on #151
@habib535?

[2017-10-17 16:02] habib535 commented on #151
Oh, what? my profile hacked or I must be drunk :)

[2017-10-18 12:38] ErlendLandro commented on #166
Documented here: https://docs.starcounter.io/guides/transactions/running-background-jobs#scerrunhandledexception-(scerr1069)

Warning added here: https://docs.starcounter.io/guides/web-apps/sessions#operating-on-multiple-sessions

Closing

[2017-10-18 12:38] #166 closed, assigned to Mackiovello

[2017-10-18 13:38] ErlendLandro commented on #155
Substitute handlers no longer exist, the page is removed for 2.4 and left untouched for 2.3.1. Closing.

[2017-10-18 13:38] #155 closed, assigned to Mackiovello

[2017-10-19 15:23] ErlendLandro commented on #151
Documented here: https://docs.starcounter.io/v/starcounter-next/guides/database/transactions#nested-transactions

Closing

[2017-10-19 15:23] #151 closed, assigned to Mackiovello

[2017-10-26 14:25] ErlendLandro opened #167 "Document ScErrAcquireSessionTimeout (SCERR5008)"
AdFenix hit this exception.

Explanation from @miyconst:

Question from AdFenix:

Anything that kills the code host has to be thoroughly documented. This is one case of that.

I'm not able to reproduce it with something like this:
[code]

@miyconst could you clarify how to reproduce it?

Edit: don't execute the code above. Windows is clearly not a big fan of it 😄

[2017-10-26 14:30] miyconst commented on #167
@Mackiovello you have to schedule a session task, not a Starcounter task, this happens when tasks are locked on a session. So it should be `Session.ScheduleTask` and not `Scheduling.ScheduleTask`.

It should be enough to schedule two tasks:

[code]

[2017-10-26 17:38] ErlendLandro commented on #167
That's helpful, but I'm still not able to reproduce it. For example:

[code]

This code executes without a problem and writes the created data ever .5 seconds.

Your example doesn't throw an exception either. Has this been fixed or do we need some additional component, like a long-running transaction or something like that?

[2017-10-30 12:55] mmnosek opened #168 "Document populating Json from string"
### Type of issue:
According to question and comment here: https://docs.starcounter.io/guides/typed-json/primitive-arrays-and-single-value-types/@comments/73c5cc57fd0e40adb3a4320a040fbce2 I think method `PopulateFromJson` should be mentioned and explained in the docs. [TypedJsonInternals](https://docs.starcounter.io/guides/typed-json/typed-json-internals) seems to be correct place for this.

[2017-10-31 15:24] mmnosek commented on #78
Should we agree on the "Adapter" name and promote it in docs and other apps?

[2017-11-01 00:53] warpech commented on #78
I vote yes. Any objections?

[2017-11-08 00:22] ErlendLandro opened #169 "Document the StarcounterEnvironment class"
### Type of issue:

Document existing functionality.

The class [`StarcounterEnvironment`](https://github.com/Starcounter/level1/blob/d184291521d661b38a48cb34655a4c96efbe062b/src/Starcounter.Internal/Mock/StarcounterEnvironment.cs) is only mentioned once in the documentation even if it has many useful fields, such as getting the database name, which has been asked for before.

[2017-11-23 16:43] mmnosek opened #170 "Create Starcounter Glossary/Dictionary"
I think it would be useful to include some Starcounter specific glossary in our docs. We often invent some new terms, so having everything in place would make it easier for the people to find an explanation of confusing terms. Ideally, it should be cross-linked everywhere in our docs so clicking would give an answer very fast.

@Mackiovello does Gitbook documentation have such feature?

[2017-11-23 17:12] ErlendLandro commented on #170
We used to have a section like that, but it was never used.

Isn't it better to have an explanation of the term on the relevant page and let people search for it?

[2017-11-23 17:28] mmnosek commented on #170
I'm not sure - this, of course, makes sense as well. How do we know it was never used?

[2017-11-24 09:54] warpech opened #171 "Explain StarDump skipschema"
### Type of issue:

In https://github.com/Starcounter/StarDump/issues/71, a new parameter `skipschema` was added to StarDump. It needs to be documented.

### Link to relevant page:

https://docs.starcounter.io/guides/working-with-starcounter/stardump-cli

[2017-11-24 12:50] ErlendLandro commented on #170
It was never used by those that maintained the documentation before I took over. Definitions for about five terms were added and then the document was never touched again.

If the pages are structured properly to cover one concept and with an introduction that clearly defines it, then that makes more sense. Django, which is one of the best documented projects out there, does this. See for example

[2017-11-27 21:11] mmnosek commented on #170
I agree, that having a definition at the beginning of specific topic is fine. What about definitions like:
- App/Application
- Platform
- App Suite

Do we have any place to explain those without a glossary? If not, maybe we should add a relevant page with additional concept explanation?

[2017-11-28 06:40] ErlendLandro commented on #170
Application is explained here: https://docs.starcounter.io/guides/web-apps#introduction

What do you mean by "platform"? That is a broad term that should be described in the correct context.

"App suite" should probably be defined on the same page as "app".

As soon as we introduce a new concept, such as "blending", there will always be some documentation for it which means that there will also be

[2017-11-29 10:06] warpech opened #172 "Add example of using TypedJson without Json-by-Example"
### Type of issue:

I was talking to @chrhol last week about the ability to use TypedJson without Json-by-Example. @chrhol says it is possible, just very verbose. @chrhol could you pls paste an example of that here? Then we can decide whether it is worth it to put it in the docs.

I think it is interesting to do it, because it might allow reducing the feeling of "magic" of TypedJson and Json-by-Ex

[2017-11-29 10:08] ErlendLandro commented on #172
Isn't this it? https://docs.starcounter.io/guides/typed-json/typed-json-internals#example

[2017-11-29 11:04] warpech commented on #172
It is, indeed! Maybe the page could be rephrased to show that this is not only "internals" but also a reasonable thing to do in your app if you want to?

[2017-11-29 13:27] ErlendLandro commented on #172
Hmm, this stuff was moved to "Typed JSON Internals" since JSON-by-example is what we use in our material and use in 99% of the cases. We didn't want to present these as two equal solutions since JSON-by-example is way more user-friendly and what we use ourselves.

If you have some edge case that you want to discover, you can go to the "internals" page, as explained in the Typed JSON page:

Do you

[2017-11-29 13:28] ErlendLandro commented on #172
What's the use case for manual Typed JSON creation?

[2017-11-30 09:39] tomalec opened #173 "Review and update docs and articles in regards of Styling master document frml HTML Import deprecation in Chrome."
As described at https://github.com/TakayoshiKochi/deprecate-style-in-html-imports
and already discovered https://github.com/Starcounter/RebelsLounge/issues/222

We are using a feature that will be deprecated. AFAIK we used that in some examples and articles already, so we would have to update those.

### Type of issue: Update

### Link to relevant page:
TBD

[2017-11-30 14:20] warpech opened #174 "Add explanation of Db.Transact parameters"
### Type of issue:

Pergite have imported me that there is a parameter to `Db.Transact` to prevent running commit hooks. They say that this parameter was useful for them but it is not documented and they don't know if they should use it.

cc @chrhol

### Link to relevant page:

https://docs.starcounter.io/guides/transactions/using-transactions

[2017-12-05 11:55] warpech opened #175 "Explain where do tokens and context come from"
### Type of issue:

Pergite reported to me that on page about View attaching it is not clear where do the tokens and contexts come from. Is there some authority that decides about the tokens and the contexts or is it arbitrary?

The contexts values are especially confusing. Where do the values `page`, `icon`, etc come from? They are predefined and they have semantic meaning, which should be explai

[2017-12-05 12:05] warpech opened #176 "Explain practical use of blending direction"
### Type of issue:

On the View attaching page, it is not clear when to use uni or bi-directional blending. Use knowledge from https://github.com/Starcounter/RebelsLounge/issues/153 to explain that.

Lack of this information causes problems like https://github.com/StarcounterApps/People/issues/160

### Link to relevant page:

https://github.com/Starcounter/RebelsLounge/issues/153

[2017-12-05 17:08] warpech opened #177 "Expand information about the shared data model"
### Type of issue:

In Starcounter 2.3.x, a shared data model remains a way to go if you want to share the data with other apps.

Interviewing Pergite on 2017-11-23 gave me a lot of insight into the pitfalls that devs can run into. We should inform about these pitfalls on the page:

- the common data model is shared between the apps as a DLL
- all apps that that share a common data model must be s

[2017-12-05 18:15] miyconst commented on #177
- If two apps with a shared data model running, restarting an app will no reload the shared data model DLL. Those, any changes in the shared data model require manual database restart procedure.

[2017-12-06 11:15] warpech commented on #177
Great, thanks!

@Mackiovello can you pls take it from here?

[2017-12-11 14:39] mmnosek commented on #169
I talked about it on slack with @per-samuelsson - he has some opinion about publishing it. Per, is it possible we will change something there in the near future?

[2017-12-11 14:47] per-samuelsson commented on #169
Yes. At least I hope so, b/c IMO this is a pretty poor API all 'n all, and I really think we should not promote it. Remember: as soon as we promote this kind of stuff, we are stuck with it. We've done too many such mistakes in the past.

If there is an urgent need, I suggest someone take ownership of what is **a real concrete need for** right here and now.

Then, when we have a clear view of the a

[2017-12-11 14:52] per-samuelsson commented on #169
Seriously, just as an exercise, just take a look and skim through that class: [StarcounterEnvironment](https://github.com/Starcounter/level1/blob/d184291521d661b38a48cb34655a4c96efbe062b/src/Starcounter.Internal/Mock/StarcounterEnvironment.cs). It's just a mess, and sooo many of those features are either intended just internally, and/or will not be relevant in any other context than the 2.x shared

[2017-12-11 15:09] ErlendLandro commented on #169
Absolutely. The thing is that as soon as we publish a reference over Starcounter C# APIs, this API, and every other API that we don't want to promote will be available and there will be no way for us to choose what APIs to show and what not to show.

I don't know what to do here. The problem is bigger than this class. You see similar things in [`Db`](https://github.com/Starcounter/level1/blob/deve

[2017-12-11 15:16] mmnosek commented on #169
Do we want to fix or hide or remove such things? Or probably... it depends on the specific API. There is no urgent need, but I believe there will never be such immediate need for such things. It's good (and important) to have such things, but you can always live with that. I think we should address all stuff like this separately. Putting it to "somewhere in the future" will not help. Even Q4 of 20

[2017-12-11 15:21] ErlendLandro commented on #169
I think a first step would be to fix things that obviously are wrong like: https://github.com/Starcounter/level1/issues/4341, https://github.com/Starcounter/level1/issues/4340, and https://github.com/Starcounter/level1/issues/4342.

More relevant to this issue, I'll not document the `StarcounterEnvironment` class.

[2017-12-11 16:15] ErlendLandro commented on #177
Thanks for the detailed feedback! The page is updated.

[2017-12-11 16:15] #177 closed, assigned to Mackiovello

[2017-12-11 16:16] ErlendLandro commented on #174
This will be part of https://github.com/Starcounter/TechComm/issues/379

[2017-12-11 16:54] warpech opened #178 "Add a how-to guide about how to add tags to <head> from HTML Compositions"
### Type of issue:

We are commonly asked about how to add tags like `<meta>` to the `<head>` section of the document.

It is discouraged to have custom bootstrapping HTML (see https://github.com/Starcounter/Home/issues/333 for explanation).

Because of that, the only recommendable way to do that is through adding tags dynamically using JavaScript in HTML compositions.

Typical solution is present

[2017-12-12 06:25] per-samuelsson commented on #169
Yes, of course. You are right. And already there we have a problem. So to be strict, we are kind of doomed already - it's been public since long.

Still, if we start to actually **promote** this particular class, it will be even harder to get away from it. That was my point.

I would really really like spending time doing this kind of go-through of APIs, clean them up and refactor. The problem is,

[2017-12-13 10:41] warpech commented on #172
- maintain view-models in a single file instead of two files
- automated refactoring of JSON property names

[2017-12-18 15:17] PatrykSzwer opened #179 "Addition libraries should be explain"
Today I've stepped on another exception that is not documented in our docs. After discussion with @mmnosek  and @joozek78 We agreed, that there should be a chapter about Public assemblies provided by Starcounter.

Additionally, at exceptions section, We can add this one with simple solution:
SCERR12019
[code]

Simple solution: You have to set `Copy Local` property on `Starcounter.Extensions` refer

[2017-12-18 16:49] joozek78 commented on #179
I think the article could just acknowledge the existence of such libraries and note that you need "Copy Local" to be false. Just enough to find it after double-clicking the error in VS

[2017-12-19 07:39] per-samuelsson commented on #179
Please note that this has **changed** in 2.4. In that version, I have tried sanitizing all those old hacks regarding magic inclusion of libraries, etc. There, you add references explicitly (just as you would do in any other type of product) and you should instead leave Copy Local to the framework default, meaning **true**.

So if you decide to document this, be sure you get all the differences bet

[2017-12-19 08:32] mmnosek commented on #179
Thanks, @per-samuelsson for clarifying! I think this issue is still relevant, although having what you said in mind. I also expect some people will use 2.3 for some time anyway and the page itself does not require tons of writing.

[2017-12-19 12:14] ErlendLandro commented on #178
Created here: https://docs.starcounter.io/v/2.4/cookbook/how-to-add-html-elements-to-the-document-head

[2017-12-19 12:14] #178 closed, assigned to Mackiovello

[2017-12-19 12:25] ErlendLandro commented on #171
Done

[2017-12-19 12:25] #171 closed, assigned to Mackiovello

[2017-12-20 08:44] ErlendLandro commented on #179
Added information in the 2.3.1 version: https://docs.starcounter.io/guides/working-with-starcounter/working-in-visual-studio#scerrappdeployededitionlibrary-(scerr12019)

[2017-12-20 08:44] #179 closed, assigned to Mackiovello

[2017-12-20 09:22] ErlendLandro commented on #168
Done https://docs.starcounter.io/guides/typed-json/typed-json-internals#populating-typed-json-from-json

[2017-12-20 09:22] #168 closed, assigned to Mackiovello

[2017-12-27 12:04] mmnosek commented on #89
Related issue: https://github.com/Starcounter/Home/issues/335

[2017-12-27 12:23] mmnosek commented on #106
@k-rus @bigwad - could you help us with this?

[2017-12-27 13:33] mmnosek commented on #170
Let's close it, an additional place to maintain isn't the best idea for now.

[2017-12-27 13:33] #170 closed, assigned to nobody

[2018-01-03 14:16] bigwad commented on #106
To make parallel processing coherent - one has to use transaction duplication so that several transactions share the same snapshot. Then the problem is how to partition input set and how to schedule processing on a starcounter thread.
Scheduling on starcounter thread can be done with `Scheduling.RunTask` or wrapped into task scheduler with simple code: https://github.com/Starcounter/TPCC/blob/36ea

[2018-01-04 15:26] mmnosek commented on #106
@bigwad, many thanks for the very extensive explanation! I would sum it up like this (in simple words):
* writes don't make sense because at the end everything serialized in kernel anyway and you lose atomicity as in fact transactions will be executed separately
* For reads it makes sense, but you cannot relay either on TPL nor PLINQ. You need to do partitioning manually and schedule all tasks on

[2018-01-04 15:54] bigwad commented on #106
Not exactly. You can use TPL and PLINQ if you prepare data so that TPL's (or PLINQ) partitioning doesn't call starcounter iterator directly. I did so in the example with the queue implemented via BlockingCollection: I filled the queue in starcounter thread and passed it to TPL for partitioning.

Haven't seen such issue. Regarding implementation - can't say right away.

[2018-01-15 13:08] mmnosek opened #180 "Replace PuppetJs with Palindrom"
On all related pages, `Puppet` shouldn't be used anymore. It has to be replaced with `Palindrom` according to the changes in `2.3.1`.

[2018-01-15 13:11] mmnosek opened #181 "Document DDL queries"
According to `2.3.1` release note, Starcounter supports some DDLs: "Partial DDL queries support. The ALTER/DROP TABLE and ADD/DROP COLUMN are now supported.". I cannot find anything about it in docs, it should be documented.

[2018-01-15 13:17] mmnosek opened #182 "Write a cookbook about unit tests"
In `2.3.1` we introduced XUnit tests via `Starcounter.XUnit.Runner`: https://github.com/Starcounter/Starcounter.Xunit.Runner

Even though it's external library and it's documented in GH, docs website is the first place where a developer is going to look for some information. Now it's almost impossible to find it. Cookbook seems to be the right way of doing this, in the same way as NUnit selenium t

[2018-01-15 13:19] warpech opened #183 "Explain Starcounter app shell"
### Type of issue:

Blendable web apps require a common app shell that is also called "bootstrapping HTML" or "the response of PartialToStandaloneHtmlProvider".

The app shell consists of:

- loading of Web Components v1 polyfill, `starcounter-include`, Palindrom.js, Polymer and CSS framework.
   - Polymer should be moved soon to a later stage
- setting up the instance of Palindrom
- inserting the

[2018-01-15 13:24] mmnosek opened #184 "Replace QueryResultRows<T> with IEnumerable<T>"
`QueryResultRows<T>` is now deprecated, instead `IEnumerable<T>` should be used. All places should be replaced with the latter.

Additionally, information about depreciation in `2.3.1` should be added.

[2018-01-15 13:26] mmnosek opened #185 "Move "Migrating From 2.2 to 2.3+" to cookbook section"
It better suits the cookbook section as it's step-by-step instruction how to do it.

[2018-01-15 13:33] ErlendLandro commented on #184
This is done in 2.4.

Done

[2018-01-15 13:33] #184 closed, assigned to nobody

[2018-01-15 13:42] ErlendLandro commented on #182
`Starcounter.XUnit.Runner` was an intermediary solution. This is now supported with self-hosting in 2.4. Documentation is here: https://docs.starcounter.io/v/2.4/cookbook/unit-testing-with-database-access

Closing since it's already done

[2018-01-15 13:42] #182 closed, assigned to nobody

[2018-01-15 13:43] ErlendLandro commented on #185
Good point! Done

[2018-01-15 13:43] #185 closed, assigned to nobody

[2018-01-15 13:49] mmnosek opened #186 "5 results on the list is not enough"
It happens to me quite often that when I search for something in docs, results I'm looking for are not available in first 5 rows. Unfortunately, it's not possible to open next page of results or to extend the visible list. Is it possible to make it 10 by default or introduce some advanced searching?

[2018-01-15 14:47] warpech commented on #180
In Starcounter 2.3.1, Palindrom is used but it is still referred to as "Puppet" in the code and it works through an alias.

It is only referred to as Palindrom starting from Starcounter 2.4.

@Mackiovello what do you recommend? I think we should change it but only in 2.4 docs.

[2018-01-15 14:50] ErlendLandro commented on #180
I thought there was an issue for this in TechComm, but I can't find it.

Yes, I agree

[2018-01-15 14:52] ErlendLandro commented on #186
Created an issue for the GitBook guys: https://gitbook.canny.io/feature-requests/p/increase-number-of-results-in-search

[2018-01-15 14:55] ErlendLandro commented on #183
Good point!

Is "app shell" the term we want to use, I find it a little confusing since the app is everything from backend to frontend while this "shell" only applies to the frontend.

I would suggest adding it to this existing page: https://docs.starcounter.io/guides/web-apps/html-views

[2018-01-15 14:56] ErlendLandro commented on #183
This should also be linked from the [`PartialToStandaloneHtmlProvider` section](https://docs.starcounter.io/guides/network/middleware#partialtostandalonehtmlprovider).

[2018-01-15 15:58] warpech commented on #183
"App shell" is a front end term coined by Google: https://developers.google.com/web/fundamentals/architecture/app-shell

The app shell is provided by Statcounter and is common for all apps. An HTML view comes from your app. They are distinct things and should be explained separately.

I agree it might look ambiguous, but at least it is an external term that we can lend. "Bootstrapping HTML" is mor

[2018-01-15 16:03] ErlendLandro commented on #183
That's a good explanation. App shell is a fair term then

This means that we have to be clear that we are referring to the same concept as Google

[2018-01-15 16:33] ErlendLandro commented on #180
Fixed on 2.4

[2018-01-15 16:33] #180 closed, assigned to Mackiovello

[2018-01-18 10:59] mmnosek opened #187 "Explain "Production mode""
### Type of issue:
We have something called "production mode" in Starcounter installer, but it's not explained anywhere in the docs. I think "Run Starcounter in production" section is the appropriate page for it.

### Link to relevant page:
https://docs.starcounter.io/guides/working-with-starcounter/run-starcounter-in-production

[2018-01-18 15:12] warpech commented on #186
Actually what I am missing is a full Gitbook's search engine results page. What we have right now looks like some kind of typeahead, not a real results page.

[2018-01-18 15:27] ErlendLandro commented on #186
Yes, it seems to be planned: https://gitbook.canny.io/feature-requests/p/open-search-result-in-new-page

[2018-01-23 14:29] warpech commented on #183
Here's the draft of the explanation of the app shell: https://docs.google.com/document/d/1evwImsht1n19wwjPNF1guP92FOBlxiY_WfHimFXnmxs/edit?usp=sharing

This draft can be applied to Starcounter 2.4 and, with minor changes, to 2.3.1.

@Mackiovello can you pls review and suggest how to alter the `PartialToStandaloneHtmlProvider` section for it?

[2018-01-23 16:19] ErlendLandro commented on #183
Looks good! I added som small suggestions

[2018-01-24 18:05] warpech commented on #183
Thanks, I approved all the edits except the image. The image is very nice but it belongs better on the middleware page because it illustrates the relation between middlewares.

If you agree, can you please publish the App shell page in the Docs?

[2018-01-25 07:34] ErlendLandro commented on #183
Yes, published here: https://docs.starcounter.io/guides/web-apps/app-shell

You said that: "This draft can be applied to Starcounter 2.4 and, with minor changes, to 2.3.1.". I can't find what's different between 2.3.1 and 2.4 in this one. Right now, they're identical

[2018-01-25 07:52] warpech commented on #183
2.4.0:

- Underwear.css, a CSS framework `[this is actually not true yet, but will be in a matter of days]`
- a placeholder for the Web App Manifest (link rel="manifest").

2.3.1:

- Bootstrap, a CSS framework
- `[no placeholder for the Web App Manifest]`

[2018-01-25 08:02] ErlendLandro commented on #183
Great! Updated, closing the issue as done

[2018-01-25 08:02] #183 closed, assigned to warpech

[2018-01-25 11:25] miyconst opened #189 "Update 2.4 weaver section to indicate that weaver.ignore is no longer required"
This section has to be updated - [How to exclude a file from being processed](https://docs.starcounter.io/v/2.4/guides/working-with-starcounter/weaver#how-to-exclude-a-file-from-being-processed).

From Slack chat:

By @miyconst

By @per-samuelsson

[2018-01-25 13:33] ErlendLandro commented on #189
Page is updated: https://docs.starcounter.io/v/2.4/guides/working-with-starcounter/weaver

[2018-01-25 13:33] #189 closed, assigned to per-samuelsson, Mackiovello

[2018-01-26 11:45] warpech commented on #150
I propose to explain this by adding the following text at the end of "Guideline 3: Attaching the Content to Slots":

It is advised to use explicit slot names and not rely on your view being distributed via the default slot. The solution owner can remove the default slot from a view composition using BlendingEditor. As a result, all elements from your view that do not have a `slot` attribute will b

[2018-01-26 12:40] ErlendLandro commented on #150
Not really, documentation is published in a slightly reworded way here: https://docs.starcounter.io/v/2.4/guides/web-apps/html-view-guidelines#guideline-3:-attaching-the-content-to-slots

[2018-01-26 12:40] #150 closed, assigned to warpech, Mackiovello

[2018-01-31 10:51] ErlendLandro opened #190 "Fix inaccuracy in view guidelines"
### Type of issue:

Inaccurate documentation

### Link to relevant page:

https://docs.starcounter.io/guides/web-apps/html-view-guidelines#guideline-1:-separation-of-layout-and-content

Change

to

[2018-01-31 11:53] ErlendLandro commented on #190
Done

[2018-01-31 11:53] #190 closed, assigned to Mackiovello

[2018-02-01 22:22] warpech opened #191 "DefaultSessionTimeoutMinutes is missing in the database configuration page"
### Type of issue:

According to the page https://docs.starcounter.io/v/2.4/guides/web-apps/sessions, there is a database configuration option `DefaultSessionTimeoutMinutes`. It should be listed in the "Database configuration" page, but it is not.

### Link to relevant page:

https://docs.starcounter.io/v/2.4/guides/database/database-configuration

[2018-02-09 13:37] mmnosek commented on #54
Additionally, solution for this should be included on that page https://github.com/StarcounterApps/AppsTeam/issues/166

[2018-02-14 11:20] ErlendLandro commented on #187
@iqbalskd, do you know how production mode in the installer works? Could you explain it and put it in the docs together with the explanation of silent mode?

[2018-02-14 11:21] ErlendLandro commented on #118
This is covered here: https://docs.starcounter.io/cookbook/how-to-delete-unused-tables-and-columns

[2018-02-14 11:21] #118 closed, assigned to nobody

[2018-02-14 11:22] ErlendLandro commented on #160
Nah, we won't do this

[2018-02-14 11:22] #160 closed, assigned to nobody

[2018-02-14 13:49] ErlendLandro commented on #187
All installer related things are now on this page: https://docs.starcounter.io/guides/working-with-starcounter/installation

Great job @iqbalskd!

[2018-02-14 13:49] #187 closed, assigned to nobody

[2018-02-22 09:18] mmnosek opened #192 "Document SC Docker container"
Starcounter user has almost no chance to know, that there is Docker container available. It is fine that documentation is maintained separately, but short note and link should be included at least in three places:
* https://docs.starcounter.io/getting-started#2.-install-starcounter
* https://docs.starcounter.io/guides/working-with-starcounter/installation
* https://github.com/Starcounter/awesome-s

[2018-02-22 09:21] ErlendLandro commented on #192
Well, they could've read the blog post: https://starcounter.io/starcounter-published-docker/ 😉

I agree with you, I'll add a link to those three places.

[2018-02-22 09:22] mmnosek commented on #192
Agree, but in the future, blog post will be old and hard to find ;)

[2018-02-22 14:13] ErlendLandro commented on #192
Docs are updated. Pull Request for awesome-starcounter: https://github.com/Starcounter/awesome-starcounter/pull/1

Closing as done

[2018-02-22 14:13] #192 closed, assigned to Mackiovello

[2018-02-23 13:31] warpech opened #193 "Add information about Gzip and HTTP/2"
### Type of issue:

Right now, Starcounter provides a highly unoptimized web server that is missing features like:

- Gzip compression
- HTTP/2 protocol

It is possible to add these feature in a proxy such as Nginx or Cloudflare. I think information about this should be added to the Docs.

@Mackiovello do you think it fits in the `Run Starcounter in Production` page or directly on `Using HTTPS on

[2018-02-23 13:49] ErlendLandro commented on #193
I understand that you want to document how to solve limitations in Starcounter. If the limitation is in Starcounter and the solution is in Starcounter - it should be documented. This is different, the limitation is in Starcounter and the solution is outside of Starcounter. Thus, I don't think it should be documented.

There are two problems with documenting solutions that are not Starcounter speci

[2018-02-23 14:46] warpech commented on #193
At least we should document the limitation of Starcounter with a hint of how it is expected to be solved outside of Starcounter, even if we are not giving the actual solution.

I think we have mentioned on few occasions that Starcounter web server is meant to be used behind a proxy web server but I can't find that in the docs?

[2018-02-23 15:06] mmnosek commented on #193
I would say that feature is expected from the "application platform", so we need to provide a solution for this. Configuring efficient and reliable production environment is our responsibility and it doesn't matter if we use internal or external things. In the end, people have to know how to do this. We have to cover everything: how to build, run, maintain and deliver applications.

Deleting such

[2018-02-26 11:40] mmnosek opened #194 "Update unit tests documentation"
### Type of issue:
Documentation for unit tests is outdated:
* code samples are to complex
* implementing unit tests in your project is not straightforward
* code is using deprecated methids
* there are issues (like build target or architecture for tests) that are not explained

### Link to relevant page:
https://docs.starcounter.io/v/2.4/cookbook/unit-testing-with-database-access

[2018-02-26 11:41] mmnosek commented on #194
Done.

[2018-02-26 11:41] #194 closed, assigned to mmnosek

[2018-02-26 12:28] mmnosek opened #195 "Document TypedJSON inheritance"
### Type of issue:
View-models inheritance is not documented at all, although it's possible with some limitations. This behavior should be documented probably here: https://docs.starcounter.io/guides/typed-json (in the new section).

Related issues:
* https://github.com/Starcounter/Home/issues/227
* https://github.com/Starcounter/Home/issues/294
* https://github.com/Starcounter/Home/issues/295

@c

[2018-02-27 08:48] chrhol commented on #195
Alright, I will write something down.

[2018-02-27 08:48] chrhol commented on #195
Can you assign the issue to me? I don't seem to be able to do it myself.

[2018-02-27 08:54] ErlendLandro commented on #195
Please paste the text here when you're done and I'll add it to the docs.

[2018-03-09 10:14] ErlendLandro opened #196 "Combine post-commit hooks and commit hooks page into one"
### Type of issue:

Combine two pages.

### Link to relevant page:

https://docs.starcounter.io/guides/transactions/commit-hooks and https://docs.starcounter.io/guides/transactions/post-commit-hooks

As pointed out by @bigwad in https://github.com/Starcounter/level1/issues/4524#issuecomment-371768387, these pages should be combined to clarify their differences and similarities.

[2018-03-17 07:37] ErlendLandro opened #198 "Add contribution instructions"
Since there's now a two-way sync between GitBook and GitHub, I'll have to create new contribution instructions that let's people create Pull Requests on GitHub and merge properly.

[2018-03-19 08:48] ubbeK commented on #198
Where may I read the new contribution instructions?

[2018-03-19 08:52] ErlendLandro commented on #198
https://github.com/Starcounter/Docs/pull/199

[2018-03-20 12:30] ErlendLandro commented on #169
Closing since I don't we ever will get to document this class before we move to Nova. It's not important enough to prioritize

[2018-03-20 12:30] #169 closed, assigned to nobody

[2018-03-20 12:33] ErlendLandro commented on #195
Now, you can actually add the content yourself by creating a PR targeting the 2.3.2 branch in this repository. Please assign me or @mmnosek to read through before merging.

[2018-03-20 12:34] ErlendLandro commented on #158
This is too vague of an issue. We can't go around documenting all the errors people possibly hit.

[2018-03-20 12:34] #158 closed, assigned to Mackiovello

[2018-03-20 12:35] ErlendLandro commented on #161
Trying to reproduce errors without any more information is too time consuming

[2018-03-20 12:35] #161 closed, assigned to Mackiovello

[2018-03-21 07:29] ErlendLandro commented on #198
Done here: https://github.com/Starcounter/Docs/commit/7bf81201e5811e4bac8ba329ec807ff3583f7d2b

[2018-03-21 07:29] #198 closed, assigned to Mackiovello

[2018-03-21 10:42] warpech opened #202 "Revamp Blending definition"
Consider proposal that @tomalec made [a while ago](https://github.com/Starcounter/TechComm/issues/286#issuecomment-278401059).

This is low prio, but I don't want to loose that.

---

### Blending definition [longer story]

**Blending** is the Starcounter feature that allows to mix _views_ [from multiple apps on the same screen].
Blending engine works for every (nested) _blending point_. [For code

[2018-03-28 09:31] ErlendLandro commented on #165
I'll hand this one over to the Web Platform team. There has been some changes to HTML compositions if I'm not wrong.

@warpech is the web platform team right for this?

[2018-04-11 09:46] joozek78 opened #208 "Confusion about mixed parameters in view-model attaching"
https://docs.starcounter.io/v/2.4/topic-guides/blendable-web-apps/view-model-attaching
(version ff624768bd18f681ed70e58a8944bda3c6d5ed1c)

After reading section [Attaching Specific URIs](https://docs.starcounter.io/v/2.4/topic-guides/blendable-web-apps/view-model-attaching#attaching-specific-uris). I thought that using non-specific URIs was not allowed at all in Blender API. I think that adding an

[2018-04-11 09:48] joozek78 opened #209 "View-model attaching: explain what happens with parameters"
docs.starcounter.io/v/2.4/topic-guides/blendable-web-apps/view-model-attaching
(version ff62476)

The introduction explains nicely how V-M attaching works, using the detailed steps. However, information about what happens with parameters is missing. What happens if both attached URIs define the same number of parameters, what happens if they define a different number of them?

[2018-04-12 12:33] k-rus commented on #181
Link to the internal documentation, which currently need to be copied manually into public documentation: https://starcounter.gitbooks.io/companytrack/content/NewQP%20SQL%20documentation/sql_ALTER_TABLE.html

[2018-04-17 22:20] un-tone commented on #115
@warpech I guess there were some changes in the Authorization library since then, so my conception of using it can be out-dated, WDYT? I'm not sure but if it is so how about entrusting this task to someone else who uses it more closely? If my assumption is not true and if the task is still actual I could start it.

[2018-04-18 11:51] warpech opened #215 "Create a basic page about our mobile strategy"
As a subpage of "Blendable web apps", create a page "Mobile apps" about a strategy to publish a blendable mobile app.

For the beginning, the page should summarize what we already know about based on the PoT (https://github.com/Starcounter/RebelsLounge/issues/252):

- WebView - blendable web apps require to run in the web view, because the Web is declarative in style and is a platform that allows

[2018-04-18 13:50] alshakero commented on #215
Sure. I will.

[2018-04-20 09:20] mmnosek opened #217 "Document limits for number of columns and indexes"
There's no information about a limit of a number of columns and indexes in Starcounter, but some people already hit these. This should be explicitly said in appropriate places in the database section of the documentation.

Limit of number of columns: 127 (should be checked with core team)
Limit of number of indexes per table: 32 (but it is a bit more complicated than that because of inheritance an

[2018-04-20 09:39] mmnosek commented on #217
Additional info: First one is a limit of 31 (actually 32, but 1 is used internally) indexes per type. And indexes from base types also count to this cap.
Second one is a total limit of 64K indexes per database. And this is the one 'ScErrIndexLimitReachedAbort' indicates. Most likely they just abandoned a lot of tables and indexes over the database lifetime and haven't actually dropped abandoned ta

[2018-04-23 22:11] bigwad commented on #107
It turned out that long running transactions have different nesting behavior depending on how they're invoked - using Db.Scope or Transaction.Scope.

[2018-04-26 07:50] warpech commented on #215
I started working on this https://docs.google.com/document/d/10HGqrOhbl9atFoCzxsoNSbOQem4o7kN8jMNg-OQAoIA/edit#

[2018-04-26 15:50] warpech commented on #165
Yes it is. I have scheduled it for Q3

[2018-04-26 15:54] warpech commented on #208
@alemoi could you please unconfuse us? Are both ways acceptable in Starcounter 2.4 and when should they be used?

[code]

From my experience, only the latter works.

[2018-04-26 15:55] warpech commented on #115
A lot is going on about this library recently. I think that @joozek78 should be assigned to this or at least make the decision about how to move forward with it.

[2018-04-26 16:05] warpech opened #219 "Update the 2.4 tutorial to work with Polymer 2.0"
The code snippets in https://docs.starcounter.io/v/2.4/getting-started/hello-world-tutorial should be updated to work with current Starcounter 2.4, which includes Polymer 2.0.

This can be done now.

On the other hand, https://github.com/Starcounter/HelloWorld/issues/58 needs to wait until 2.4 becomes a release candidate.

[2018-04-26 21:28] ghost commented on #208
Good question! I think I probably should change the example a bit, but here is the explanation.
Since Blender does not know if handler represented by URI exists or not, the URI `/people/persons/34623` can be the handler URI just for a certain object:
[code]
and a non-specific handler can exist at the same time:
[code]

[2018-05-28 09:41] warpech commented on #208
Reopening, since an answer in this issue does not solve the confusion of a person reading https://docs.starcounter.io/v/2.4/topic-guides/blendable-web-apps/view-model-attaching.

@kegor could you propose changes to the docs page that make it more understandable?

[2018-05-30 10:35] LarsTjernstrom commented on #175
Hi @warpech do you have google document which I can add the information in? The current namne, suggested name and explanation is easiest to fill out in a table.

[2018-05-30 11:03] warpech commented on #175
You can use this one https://docs.google.com/spreadsheets/d/1EQSRDAIwdAF_tt18PS3xoGCtB1VLSEeLlx-QghI0wt4/edit#gid=0

[2018-05-30 11:12] ghost commented on #208
As a summary in one sentence: Blender needs to know if its a handler with substituted parameter, if its a handler template, or if its a non-parametrized handler. I will rewrite the documentation.

[2018-06-01 14:16] Joltrix opened #226 "Problem 176: Explain practical use of blending direction."
Possible fix for #176.
In the added text were used sentences taken from https://github.com/Starcounter/RebelsLounge/issues/153.

[2018-06-01 14:16] Joltrix opened #227 "Problem #175: explain of tokens and context."
**Problem #175:**
Information about the tokens&contexts is not very clear here https://docs.starcounter.io/v/2.4/topic-guides/blendable-web-apps/view-model-attaching.

**Solution:**
1. I've added an additional explanation about the context nature and main idea, also predefined contexts which are coming with Starcounter were described. I used sentences from the discussion with @warpech.
2. Few gram

[2018-06-01 15:14] #226 closed, assigned to nobody

[2018-06-01 15:14] #227 closed, assigned to nobody

[2018-06-02 13:57] tomalec opened #228 "We no longer use `json-patch-duplex.js` in SC 2.4"
as there is no such file https://github.com/Starcounter-Jack/JSON-Patch/tree/master/dist

https://github.com/Starcounter/Docs/blob/2.4/docs/topic-guides/blendable-web-apps/client-side-stack.md#data-sync

I think it should be

Am I correct @alshakero ?

[2018-06-02 14:07] tomalec opened #229 ""Using Web Components" is confusing"
https://github.com/Starcounter/Docs/blob/2.4/docs/topic-guides/blendable-web-apps/web-components.md#using-web-components

Sounds confusing to me, and I don't quite get what it is supposed to mean.

HTML Imports is part of Web Components, the spec is not loaded into the browser. Individual "web component" is not a specified term, and to me, it's not 100% clear what it actually is.

What should this

[2018-06-02 15:12] alshakero commented on #228
This is half correct.

Here is what I suggest:

[2018-06-02 16:30] ErlendLandro commented on #229
I think it's supposed to be custom elements not web components, but I'm not sure. I think @warpech wrote this a while ago.

The whole page can certainly be improved.

[2018-06-02 16:35] ErlendLandro commented on #115
The authorization library is in an independent NuGet package and should be documented separately. Is there anything you're missing in the [authorization docs](https://github.com/Starcounter/authorization#table-of-contents)?

If there is, I suggest that we open issues there instead and close this issue.

[2018-06-02 16:38] ErlendLandro commented on #174
This has to be documented here: http://starcounter.github.io/Starcounter.Nova/reference/Starcounter.Nova.Db.html#Starcounter_Nova_Db_Transact_Action_Starcounter_Nova_TransactOptions_

I'm not going to spend time on documenting it for 2.4.

[2018-06-04 11:17] ErlendLandro commented on #219
Fixed in https://github.com/Starcounter/Docs/pull/220

[2018-06-04 11:17] #219 closed, assigned to Mihaiii

[2018-06-05 14:17] kegor commented on #209
I decided to make few experiments.

Different number of parameters:
![image](https://user-images.githubusercontent.com/17431807/40981071-bfd819e6-68e2-11e8-8335-46cb23380466.png)

One attached URI without parameters:
![image](https://user-images.githubusercontent.com/17431807/40981321-5335a168-68e3-11e8-87a6-9a85c0fd61ae.png)

Both attached URIs define the same number of parameters:
![image](https

[2018-06-07 17:39] alshakero commented on #215
I updated the doc with my ideas and suggestions.

[2018-06-11 10:46] kegor opened #234 "Add information about Blender's Activate/Deactivate methods to view-model-attaching docs."
Seems very reasonable to add information about the Blender's Activate/Deactivate methods to https://docs.starcounter.io/v/2.4/topic-guides/blendable-web-apps/view-model-attaching page.

[2018-06-14 19:23] ghost commented on #208
The documentation I have updated locally and will push when we are done with this one: https://github.com/Starcounter/level1/pull/4680

[2018-06-20 08:04] kegor commented on #175
Closing because related changes were merged in #224.

[2018-06-20 08:04] #175 closed, assigned to warpech, kegor

[2018-06-22 07:42] warpech opened #235 "Bad Unicode characters in the contexts page"
The page https://docs.starcounter.io/v/2.4/topic-guides/blendable-web-apps/view-model-attaching has unrenderable Unicode characters on Mac after PR #224.

Screenshot:

<img width="1378" alt="screen shot 2018-06-22 at 09 41 28" src="https://user-images.githubusercontent.com/566463/41764167-953568da-7600-11e8-88f5-181c5d27a09c.png">

[2018-06-22 12:51] warpech commented on #229
That page was written when we felt necessary to explain in Starcounter docs what is the point of Web Components as such. Certainly, this can be rewritten now as of 2018. I will schedule it for Q3.

[2018-06-25 20:46] kegor commented on #235
Closing because the related fix was merged in #236.

[2018-06-25 20:46] #235 closed, assigned to kegor

[2018-06-28 08:50] kegor commented on #176
Closing because related changes were merged in the #225.

[2018-06-28 08:50] #176 closed, assigned to kegor

[2018-06-29 11:53] #209 closed, assigned to kegor

[2018-06-29 11:54] kegor commented on #209
Closed because related changes were pushed in the #233.

[2018-07-03 08:14] alshakero commented on #215
Any review comments?

[2018-07-15 19:35] kegor commented on #208
Current state described in the https://github.com/Starcounter/level1/pull/4680#issuecomment-405109642.

[2018-07-16 09:37] mmnosek opened #239 "Document and update apps guidelines"
Recently, we improved a way how the Starcounter app project should look like by default. For example:
* inversion of control
* unit testing
* UoW pattern

Also, I remember Lars that you had an idea to propose 3 "levels" of architecture. Maybe it's also worth mentioning here.

[2018-08-06 13:04] warpech commented on #208
https://github.com/Starcounter/level1/pull/4680 is merged now so can you pls push the documentation changes?

[2018-08-06 13:32] warpech commented on #215
Thanks for the contribution. I have responded in the G Doc

[2018-08-13 10:02] ghost commented on #208
I checked and documentation was already updated. And I just have added the docs for advanced Blender API here: https://github.com/Starcounter/level1/blob/develop/src/Starcounter/Apps/blending_api.md

[2018-08-13 10:02] #208 closed, assigned to kegor

[2018-08-18 19:49] ghost commented on #234
Now, the Blender is considered an advanced API and the documentation for it is separate here: https://github.com/Starcounter/level1/blob/develop/src/Starcounter/Apps/blending_api.md

[2018-08-18 19:49] #234 closed, assigned to nobody

[2018-08-28 14:25] tomalec opened #245 "View guidelines suggest to use `<style>@import` instead of `<link rel="stylesheet"`"
At some point it was needed due to polyfill limitations, but that's no longer the case https://link-in-shadow-dom.glitch.me/

https://docs.starcounter.io/v/2.4/topic-guides/blendable-web-apps/html-views-composition-guidelines#guideline-5-apply-styling-to-avoid-conflicts-and-allow-composition

Now, it is undesired, as it makes working around FOUC impossible.

[2018-08-28 14:53] ErlendLandro commented on #239
Should this be in the public documentation? IoC, unit testing, and UoW pattern are common software engineering principles and not something Starcounter specific. I think it's fine to have in some kind of internal documentation, but having it publically would mostly be clutter.

[2018-08-28 14:54] ErlendLandro commented on #245
Could you create a PR for this @tomalec?

[2018-08-28 14:55] ErlendLandro commented on #228
Can @alshakero or @tomalec create a PR for this?

[2018-08-28 14:56] Mihaiii commented on #239
We should definitely have a template in the VS extension for this.

I can do it myself in few months from now if nobody else wants to do it or doesn't have time.

[2018-08-28 14:57] mmnosek commented on #239
@LarsTjernstrom WDYT?

These are common software engineering patterns but we use them in a specific way, don't we? E.g. unit testing - it's a common principle, but how we do it in Starocunter apps is very specific.

[2018-08-28 14:59] ErlendLandro commented on #195
Lowered the priority and put it on hold since @chrhol no longer works with this stuff and the coming Typed JSON changes might make this obsolete anyway.

[2018-08-28 15:02] ErlendLandro commented on #202
Are we going anywhere with this or can we archive the issue?

[2018-08-28 15:12] ErlendLandro commented on #239
I can do it myself in few months from now if nobody else wants to do it or doesn't have time.

Thank you for offering to do this. Although, I don't think we should spend resources on this, especially since Nova doesn't have the same constraints as 2.4 on architecture. If it's not specifically requested by a user, we shouldn't bother implementing it.

No, these patterns should be framework agnostic

[2018-08-29 08:08] #245 closed, assigned to tomalec

[2018-08-29 08:26] LarsTjernstrom commented on #239
Conserning the improvement on how we write code are currently an internal business and I currently don't have the extra time to write internal documenation for that until Omni is released.

After that we should look on Starcounter .net core, that will hopefully support inversion of control out of the box. Then we can create public documentation for 3 different scenarios and templates for them.

1)

[2018-09-04 07:28] SimonWesterlind opened #247 "Minor error in HelloWorld tutorial"
In the [HelloWorld Expense Tracker](https://docs.starcounter.io/v/2.4/getting-started/hello-world-tutorial/expense-tracker) for all versions of the documentation from 2.3.1 and forward, I think the ExpenseJson.json is incorrectly referred to as ExpenseJson.html in the code snippet.

@Mackiovello

![tinyerror](https://user-images.githubusercontent.com/29301183/45016487-0e993400-b025-11e8-87cf-c8365

[2018-09-04 07:35] ErlendLandro commented on #173
Is this still relevant?

[2018-09-06 10:07] Mihaiii opened #248 "Document Blender.ListAllByTokens() and Blender.ListAllByUris()"
I needed `Blender.ListAllByTokens()`, but I couldn't find it on https://docs.starcounter.io/v/2.4/ .

Fortunately, I remembered that Blending app uses something similar to what I need so, eventually, I got on https://github.com/Starcounter/level1/blob/develop/src/Starcounter/Apps/blending_api.md , where I found the API for what I need in my app.

But `level1` is a private repo and `Blender.ListAll

[2018-09-06 12:45] warpech commented on #248
For reference, can you say what is the use case for this in an app other than BlendingEditor?

[2018-09-06 12:53] Mihaiii commented on #248
All the apps that rely on ~~server side blending~~ [view attaching](https://starcounter.io/server-side-client-side-blending-renamed/) could use the Blender API and that information I found very important.
Sometimes, when we want to get a partial from another app, we blend an empty Starcounter.Json() from current app. Therefore, from a UX perspective, we have different scenarios/use cases depending

[2018-09-06 13:19] Mihaiii commented on #248
@warpech Or did I made a mistake and the example I provided is not valid? I know that in general what I said in the previous message is in the area of `view composing`.

[2018-09-06 22:39] ErlendLandro opened #249 "Change default documentation version to 2.4"
It seems like everyone's moving towards 2.4 and thus I think it makes sense to make 2.4 the default documentation version so when you go to docs.starcounter.io, you go directly to the 2.4 docs.

This means that we'll also stop trying to maintain the 2.3.x docs.

I need others opinion on this though.

@mmnosek @warpech WDYT?

[2018-09-06 22:49] ErlendLandro commented on #84
The scheduling API is not a part of Nova so this is only relevant for 2.4, see http://starcounter.github.io/Starcounter.Nova/topic-guides/threading.html.

Closing this for now. If anyone thinks this is worth documenting for 2.4 and has someone that can do it, please reopen.

[2018-09-06 22:49] #84 closed, assigned to nobody

[2018-09-06 22:52] ErlendLandro commented on #115
Closing this one since there was no reply to my last comment. If anyone think this should still be dealt with and has someone that can do the job, please reopen.

[2018-09-06 22:52] #115 closed, assigned to nobody

[2018-09-07 07:50] mmnosek commented on #249
From one hand it makes sense, from another - it should be documentation for current stable, that I would expect to be the default.

Although given that almost nobody uses 2.3, I think we can do what you propose.

[2018-09-07 08:29] warpech commented on #248
We will discuss on the meeting today the need for that. For me, the need to check if another app is running is a [code smell](https://en.wikipedia.org/wiki/Code_smell) that suggests a design which assumes to much. We will meet with @Mihaiii and check if we can formulate some patterns that avoid that.

[2018-09-07 08:54] SimonWesterlind opened #251 "White Papers download lead to URL Not Found"
When attempting to download the white papers from the [Starcounter Website](https://polyjuice.starcounter.com/resources/starcounter-technical-overview/) you get brought to a [Not Found page](https://starcounter.com/resources/thank-you-downloading/).

@Mackiovello

[2018-09-07 09:07] #247 closed, assigned to Mackiovello

[2018-09-07 09:10] ErlendLandro commented on #251
Issues related to the websites belong to https://github.com/Starcounter/TechComm, so I moved the issue there: https://github.com/Starcounter/TechComm/issues/408

Good catch though! I'll make sure it's taken care of

[2018-09-07 09:10] #251 closed, assigned to nobody

[2018-09-07 09:35] ErlendLandro commented on #249
Okay, I've done that now. Thanks for the input. Closing as done.

[2018-09-07 09:35] #249 closed, assigned to Mackiovello

[2018-09-07 11:14] warpech commented on #248
We agreed with @Mihaiii that probably sniffing the `Blender` API to if there are views blended to a view from Content app is probably not needed. The "Go!" button that performs searching should come from the Search app in case of @Mihaiii's problem.

I will start a document that explains typical View attaching patterns and include this pattern there.

[2018-09-23 12:48] Mihaiii opened #252 "Update queries in the docs to include full names of db classes"
For example [here](https://docs.starcounter.io/topic-guides/database/querying-with-sql#return-types), but the whole docs are with such examples.

[Here](https://docs.starcounter.io/topic-guides/database/querying-with-sql#making-queries-less-fragile) it is suggested to use `typeof` and `nameof` to "make queries less fragile" - this is no longer a suggestion/recommendation, but a requirement (of cou

[2018-09-23 21:41] Mihaiii commented on #239
A short update:

@sellingsolutions asked about it. My intention is to work on it after 15.10.2018. If it's needed before that, please let me know.

[2018-09-24 23:54] ErlendLandro commented on #252
I haven't heard about this. Since when is that true?

[2018-09-25 06:18] Mihaiii commented on #252
Hmm, closing as in certain cases everything works as expected and those exceptions where it doesn't are outside of my concern.

[2018-09-25 06:18] #252 closed, assigned to Mihaiii

[2018-09-25 06:36] ErlendLandro commented on #252
What happened here?

What are those?

[2018-10-08 02:32] ErlendLandro commented on #16
I don't understand this task.

@miyconst wrote in https://github.com/Starcounter/Starcounter.Nova/issues/78 that:

The points are summarized well on the [Threading page](http://starcounter.github.io/Starcounter.Nova/topic-guides/threading.html). As an app developer you should know that:

1. Thread-safe database access is enforced by the host
2. The current transaction (`Transaction.Current`) is on

[2018-10-08 08:34] miyconst commented on #16
Here is a list of the questions that I was asked and I still remember.

- Is it possible to share object reference between two transactions? How to do that?
- Is it possible to use database objects outside of a transactions.
- Is it possible to share a transaction between threads? How to do that?
- Is it possible to use PLinq and how to do that if so.
- Is it possible to use `async/await` inside a

[2018-10-08 08:58] ErlendLandro commented on #16
Thanks for the list @miyconst.

Can you clarify? With your description, I imagine something like this:

[code]

These transaction share object reference, or do they mean something else?

Since there are no implicit transaction, you can't read or write to database objects outside of transactions. This is explained in the [Implicit Transactions](http://starcounter.github.io/Starcounter.Nova/index.ht

[2018-10-08 09:13] miyconst commented on #16
That's exactly what I meant.

Thanks. It's good enough.

That's not exactly what I meant. This example should explain it better:

[code]

I share your opinion, but we should have a clear answer to whether it's possible or not, and rise proper exception in case it's used but should not be.

[2018-10-09 06:04] ErlendLandro commented on #16
No, it's not. PLINQ doesn't respect `SynchronizationContext`, so you'll get a `ScErrNoTransactionAttached`. Even if it was possible, it wouldn't make sense since the `SynchronizationContext` serializes thread access anyway.

For example:

[code]

Fails with `ScErrNoTransactionAttached`.

I'll document this.

[2018-10-09 06:07] ErlendLandro commented on #16
The same applies to sharing transactions between threads. Since database access is serialized anyway, it doesn't make sense.

[2018-10-09 09:08] ErlendLandro commented on #16
Fixed with https://github.com/Starcounter/Starcounter.Nova/pull/533

[2018-10-09 09:08] #16 closed, assigned to Mackiovello

[2018-10-09 22:45] warpech commented on #248
Initial work is here: https://docs.google.com/document/d/1oqwR67CUJZkPTSztddS8Jdjflrq0RdEUngDcsQd5m18/edit#heading=h.f8eiibizc6qz, but the pattern described above is not yet there.

[2018-10-10 12:21] ubbeK opened #255 "Test naming convention"
https://github.com/Starcounter/Docs/blob/2.4/docs/how-to-guides/how-to-organize-projects.md does not follow our naming convention for test projects.

https://github.com/Starcounter/Content/issues/59

cc @Mackiovello

[2018-10-24 07:35] warpech commented on #54
Also, include knowledge from here: https://github.com/Starcounter/AppsTeam/issues/166

[2018-10-24 07:35] warpech commented on #54
The above link (https://github.com/Starcounter/AppsTeam/issues/166) contains the solution for WebSocket disconnection in Nginx exactly after 1 minute.

[2018-11-05 10:20] warpech opened #258 "Explain that SELECT results are unsorted"
As @miyconst writes in https://github.com/Starcounter/Blending/pull/320#discussion_r230687165:

Can we please add information about this to the docs?

----

I understand that it is by SQL standard (and also seen in Oracle, SQLite, etc), but might be unexpected, compared to some other SQL implementations:

[Source](http://www.postgresqltutorial.com/postgresql-order-by/)

[2018-11-19 08:57] LordTep opened #259 "Searching does not work."
Searching in the docs return a response but they are not clickable. I am not redirected to the result.

[2018-11-19 08:58] LordTep commented on #259
Ok, some did. Perhaps it's content that is gone? Try in starcounter version 2.3.1 and search term "blender". None of those seem to work.

[2018-12-12 07:08] ErlendLandro commented on #259
This is a bug with GitBook, I filed a ticket here: https://gitbook.canny.io/feature-requests/p/bug-when-searching-with-multiple-versions.

[2018-12-12 07:08] #259 closed, assigned to nobody

[2019-01-07 13:15] warpech opened #260 ""Passing custom arguments" should advise to begin arguments with /"
"Passing custom arguments" section on the page:

- https://docs.starcounter.io/topic-guides/working-with-starcounter/star-cli
- https://github.com/Starcounter/Docs/blob/2.4/docs/topic-guides/working-with-starcounter/star-cli.md

right now says to not start argument name with a hyphen. It should also advice to start the argument name with a forward-slash, which also happens to be a Windows conventi

[2019-02-01 13:38] tomalec opened #264 "Suggest `one-way` data binding as a default in views, do not use two-way for read-only props"
As suggested by @alshakero at https://starcounter.slack.com/archives/C7677F70W/p1548673177309100

I think we should
- [ ] state that rule somewhere in our docs,
- [ ] and for sure follow it in examples.

Also, technically we could warn about it, maybe in dev tools?
- [ ] whenever `/[^\$]\}\}/` is found in a view's HTML we could throw a warning that this may be possibly wrong.(unless it's not view-

[2019-02-07 11:25] warpech commented on #78
Also a name "connector app" circulates nowadays.

[2019-02-07 11:33] per-samuelsson commented on #78
Point anyone mentioning it here and tell them that term is illegal. 😉

[2019-05-15 10:31] warpech opened #265 "Fix sync of this repo with GitBook.io"
The sync of this repo with GitBook.io is broken since few months. I reported to GitBook support desk and got some advice from them, but so far I could not fix that. I will make one more attempt.

[2019-05-15 11:57] warpech commented on #265
Specifically:

- update from GitHub to GitBook works
- update from GitBook to GitHub does not work

[2019-05-16 11:42] warpech commented on #265
After 10 tries it worked! Note to self: GitBook.io works better with Chrome than Firefox.

GitBook made sync commits to all branches right now:

- https://github.com/Starcounter/Docs/commit/4ce16257ed577e34afe54dd1aed0568aea27eee7 (branch `2.2`)
- https://github.com/Starcounter/Docs/commit/0363b1924841188b04f2e3f848fbce2c66a297a5 (branch `2.3.0`)
- https://github.com/Starcounter/Docs/commit/e6a166

[2019-05-16 12:26] warpech commented on #265
The docs are now in sync, closing. You can edit through GitHub or through GitBook (just remember to press "Merge" in GitBook, otherwise your changes are regarded only to be a draft!). Synchronization takes up to 1 minute

[2019-05-16 12:26] #265 closed, assigned to warpech

[2019-07-11 18:57] miyconst commented on #255
Archiving.

[2019-07-11 18:57] #255 closed, assigned to nobody

[2019-07-11 18:58] miyconst commented on #228
Closing as no longer relevant.

[2019-07-11 18:58] #228 closed, assigned to nobody

[2019-07-11 18:58] miyconst commented on #202
No longer relevant. Closing.

[2019-07-11 18:58] #202 closed, assigned to nobody

[2019-07-11 18:59] miyconst commented on #193
Closing as no longer relevant. In Starcounter 3 we use Kestrel.

[2019-07-11 18:59] #193 closed, assigned to nobody

[2019-07-11 18:59] miyconst commented on #173
Closing as no longer relevant.

[2019-07-11 18:59] #173 closed, assigned to nobody

[2019-07-11 19:00] miyconst commented on #264
Closing as no longer relevant. Starcounter shall not document / focus on Web Stack. It shall be up to the app developers to pick any web stack and do what they find appropriate.

[2019-07-11 19:00] #264 closed, assigned to nobody

[2019-07-11 19:01] miyconst commented on #260
Closing as no longer relevant.

[2019-07-11 19:01] #260 closed, assigned to nobody

[2019-07-11 19:01] miyconst commented on #248
No longer relevant.

[2019-07-11 19:01] #248 closed, assigned to nobody

[2019-07-11 19:04] miyconst commented on #239
No longer relevant.

[2019-07-11 19:04] #239 closed, assigned to LarsTjernstrom

[2019-07-11 19:04] miyconst commented on #215
No longer relevant.

[2019-07-11 19:04] #215 closed, assigned to warpech

[2019-07-11 19:04] miyconst commented on #229
No longer relevant.

[2019-07-11 19:04] #229 closed, assigned to nobody

[2019-07-11 19:04] miyconst commented on #196
Not important / needed any more.

[2019-07-11 19:04] #196 closed, assigned to nobody

[2019-07-11 19:04] miyconst commented on #195
No longer relevant, since we not supporting XSON in Starcounter 3.

[2019-07-11 19:04] #195 closed, assigned to nobody

[2019-07-11 19:05] miyconst commented on #191
No longer relevant.

[2019-07-11 19:05] #191 closed, assigned to nobody

[2019-07-11 19:09] miyconst commented on #167
No longer relevant.

[2019-07-11 19:09] #167 closed, assigned to nobody

[2019-07-11 19:09] miyconst commented on #174
Closing as not relevant for 2.3 and is documented in for 3.0: https://docs.starcounter.io/v/3.0.0-alpha-20190701/transactions

[2019-07-11 19:09] #174 closed, assigned to Mackiovello

[2019-07-11 19:10] miyconst commented on #172
No longer relevant.

[2019-07-11 19:10] #172 closed, assigned to nobody

[2019-07-11 19:10] miyconst commented on #165
No longer relevant.

[2019-07-11 19:10] #165 closed, assigned to nobody

[2019-07-11 19:10] miyconst commented on #130
No longer relevant.

[2019-07-11 19:10] #130 closed, assigned to nobody

[2019-07-11 19:10] miyconst commented on #113
No longer relevant.

[2019-07-11 19:10] #113 closed, assigned to nobody

[2019-07-11 19:11] miyconst commented on #47
No longer relevant.

[2019-07-11 19:11] #47 closed, assigned to nobody

[2019-07-11 19:11] miyconst commented on #76
No longer relevant.

[2019-07-11 19:11] #76 closed, assigned to nobody

[2019-07-11 19:11] miyconst commented on #78
No longer relevant.

[2019-07-11 19:11] #78 closed, assigned to warpech

[2019-07-11 19:12] miyconst commented on #79
No longer relevant. The 2.x Gateway is not used in Starcounter 3.

[2019-07-11 19:12] #79 closed, assigned to nobody

[2019-07-11 19:12] miyconst commented on #86
No longer relevant. XSON view-models are not supported in Starcounter 3.

[2019-07-11 19:12] #86 closed, assigned to nobody

[2019-07-12 11:40] Mihaiii commented on #248
@miyconst May I have more details regarding the reason, as OP?
Blender API changes, whole Blender becomes irrelevant or something else?

Thank you!

[2019-07-12 11:49] miyconst commented on #248
@Mihaiii thank you for your interested. Blender API is no longer relevant for Starcounter 3, please read up more here - [Starcounter 3.0 Alpha Preview](https://starcounter.io/starcounter-3-0-alpha-preview/).

[2019-11-05 14:03] dan31 opened #266 "Typo in .NET Core sample"
https://docs.starcounter.io/v/3.0.0-alpha-20190930/
`SELECT p FROM ConsoleApp.Person p WHERE Name = ?` → `SELECT p FROM Person p WHERE Name = ?`

[2019-11-05 14:12] #266 closed, assigned to nobody

[2020-01-27 16:33] erikvk opened #277 "Documentation for Sql calls with ISqlResultRow"

[2020-01-27 16:34] erikvk opened #278 "New structure for docs"
Better sorting into categories such as:

- Administration: all docs related to settings up the environment, installation, uninstallation, backups, failover.
- API: how an app consumes Starcounter.
- SQL: supported SQL statements and syntax.
- Tooling: usage of Starcounter provided tools, could be a part of the first group.

[2020-01-31 14:48] erikvk commented on #54
Closed as not related to Starcounter 3.0

[2020-01-31 14:48] #54 closed, assigned to nobody

[2020-01-31 14:55] erikvk commented on #107
Closed as not related to Starcounter 3.0

[2020-01-31 14:55] #107 closed, assigned to nobody